<!doctype html>
<html >
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title></title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="../../person/css/response.css" rel="stylesheet" />
    <link type="text/css" href="../../person/css/public.css" rel="stylesheet" />
    <link type="text/css" href="../../person/css/xiangying.css" rel="stylesheet" />
	<!-- 公用样式 结束 -->


     <link type="text/css" href="../../person/css/position/zhiwei.css" rel="stylesheet" />
     <link type="text/css" href="../../person/css/personal_index/index.css" rel="stylesheet" />
     <link type="text/css" href="../../person/css/personal_index/bottom.css" rel="stylesheet" />

    <!--下拉导航开始-->
    <link rel="stylesheet" href="../../person/css/position/menudown.css" />
    <script type="text/javascript" src="../../person/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../../person/js/position/menudown.js" ></script>
    <!--下拉导航结束-->
    <script type="text/javascript" src="../../person/js/position/position.js" ></script>
</head>
<body>
    
    <!--搜索框开始-->
     <div class="searchis">
       <div class="zubiis"><input type="text" placeholder="职位" class="zhiwiis" /></div>
       <div class="youcss"><input name="" type="button" class="aniusss"></div>
     </div>
    <!--搜索框结束-->

    <!--下拉导航开始-->
		<dl class="topmenu">
			<dt>
				<div class="selectlist">
					<div class="select_textdiv02">
						<a href="#"><p class="s_text02">全国</p><span class="down"><img src="../../person/images/down.png"></span></a>
					</div>
				</div>	
			</dt>
            
            
			<dt>
				<div class="selectlist">
					<div class="select_textdiv">
						<p class="s_text">分类</p><span class="down"><img src="../../person/images/down.png"></span>
					</div>
					
                    <div class="select_textul">
						<ul class="select_first_ul">
							<li class="focus">
								<p>分类1</p>
								<ul class="select_second_ul" style="display: block;">
									<li>离我最近</li>
									<li>人气最高</li>
								</ul>
							</li>
							<li>
								<p>热门商城</p>
								<ul class="select_second_ul">
									<li>全部商城</li>
									<li>市中心区</li>
									<li>华侨城</li>
									<li>海岸城</li>
									<li>蛇口</li>
								</ul>
							</li>
						</ul>
					</div>
                    
				</div>	
			</dt>
            
			<dt>
				<div class="selectlist">
					<div class="select_textdiv">
						<p class="s_text">筛选</p><span class="down"><img src="../../person/images/down.png"></span>
					</div>
					<div class="select_textul">
						<ul class="select_first_ul youcks">
							<li>
								<p>西餐</p>
								
							</li>
							<li>
								<p>中餐</p>
								
							</li>
						</ul>
					</div>
				</div>	
			</dt>
		</dl>
    <!--下拉导航结束-->


    <!--一块开始-->
    <div class="reconblock">
      <a href="#">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs">SPA技师</div>
        <div class="fr reseyous"><span class="yse01">急聘</span> <span class="yse02">热度2599</span></div>
      </div>
      <!--职位结束-->
      <!--工资及年限开始-->
      <div class="wagesyears clearfix">
        <div class="fl wayealfs">7000-9000/月</div>
        <div class="fr wayefris">经验不限 | 35岁以下 | 仅限女</div>
      </div>
      <!--工资及年限结束-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <img src="../../person/images/tupian01.png" />
            <div class="yrzs"><img src="../../person/images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous">
            <h1>常乐足道</h1>
            <p>单体店 | 1500㎡ | 杭州市 上城区</p>
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->
      </a>
    </div>
    <!--一块结束-->
    
    
    <!--一块开始-->
    <div class="reconblock">
      <a href="#">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs">足疗师（保底6000）</div>
        <div class="fr reseyous"><span class="yse02">热度2599</span></div>
      </div>
      <!--职位结束-->
      <!--工资及年限开始-->
      <div class="wagesyears clearfix">
        <div class="fl wayealfs">7000-9000/月</div>
        <div class="fr wayefris">经验不限 | 35岁以下 | 仅限女</div>
      </div>
      <!--工资及年限结束-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <img src="../../person/images/tupian01.png" />
            <div class="yrzs"><img src="../../person/images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous">
            <h1>常乐足道</h1>
            <p>单体店 | 1500㎡ | 杭州市 上城区</p>
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->
      </a>
    </div>
    <!--一块结束-->

  
  <!--最底部开始-->
  <div class="footers">
    <ul>
      <li class="actives">
       <a href="#">
         <i class="botmbg01"></i>
         <p>职位</p>
       </a>
      </li>
      <li>
       <a href="#" onclick="goIndex()">
         <i class="botmbg02"></i>
         <p>首页</p>
       </a>
      </li>
      <li>
       <a href="#" onclick="goMySelf()">
         <i class="botmbg03"></i>
         <p>我的</p>
       </a>
      </li>
    </ul>
  </div>
  <!--最底部结束-->

</body>
</html>








