<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>好技师·您的好帮手</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />
    <!-- 公用样式 结束 -->
     <link type="text/css" href="/static/company/css/qiu_zhi_zhe/rencai.css"
           th:href="@{/company/css/qiu_zhi_zhe/rencai.css}" rel="stylesheet" />
     <link type="text/css" href="/static/company/css/qiu_zhi_zhe/bottom.css"
           th:href="@{/company/css/qiu_zhi_zhe/bottom.css}" rel="stylesheet" />

    <!--下拉导航开始-->
    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
     <script type="text/javascript" src="/static/company/js/qiu_zhi_zhe/zhiwei.js"
             th:src="@{/company/js/qiu_zhi_zhe/zhiwei.js}"></script>
    <!--下拉导航结束-->
    <script type="text/javascript" src="/static/company/js/qiu_zhi_zhe/qiuzhizhe.js"
            th:src="@{/company/js/qiu_zhi_zhe/qiuzhizhe.js}"></script>
</head>
<body>

    <!--搜索框开始-->
     <div class="searchis">
       <div class="zubiis"><input type="text" placeholder="人才" class="zhiwiis" /></div>
       <div class="youcss"><input name="" type="button" class="aniusss"></div>
     </div>
    <!--搜索框结束-->

    <!--下拉导航开始-->
     <div class="xldhusa">
       <ul>
         <li class="dhxlfs01">分类</li>
         <li class="dhxlfs02">筛选</li>
       </ul>
     </div>
    <!--下拉导航结束-->
    
    <!--分类开始-->
    <div class="zwciys01"> 
        <div class="flsxi01">
          <!--左边开始-->
            <div class="fllfzuos">
                <ul>
                    <li class="houvers"><a href="#" onclick="jishilei()">技师类</a></li>
                    <li><a href="#" onclick="guanlilei()">管理类</a></li>
                    <li><a href="#" onclick="qiantinglei()">前厅类</a></li>
                    <li><a href="#" onclick="houqinlei()">后勤类</a></li>
                    <li><a href="#" onclick="peixunlei()">培训类</a></li>
                </ul>
            </div>
          <!--左边结束-->
          <!--右边开始-->
            <div class="flriyous" id="jishi">
                <a href="" data="理疗师"><span>理疗师</span></a>
                <a href="" data="足疗师"><span>足疗师</span></a>
                <a href="" data="按摩师"><span>按摩师</span></a>
                <a href="" data="针灸师"><span>针灸师</span></a>
                <a href="" data="推拿师"><span>推拿师</span></a>
                <a href="" data="修脚师"><span>修脚师</span></a>
                <a href="" data="推油师"><span>推油师</span></a>
                <a href="" data="采耳师"><span>采耳师</span></a>
                <a href="" data="指压师"><span>指压师</span></a>
                <a href="" data="SPA师"><span>SPA师</span></a>
                <a href="" data="盲人按摩师"><span>盲人按摩师</span></a>
                <a href="" data="其他"><span>其他</span></a>
            </div>
            <div class="flriyous" id="guanli" style="display: none">
                <a href="" data="副总经理"><span>副总经理</span></a>
                <a href="" data="营运经理"><span>营运经理</span></a>
                <a href="" data="总经理"><span>总经理</span></a>
                <a href="" data="店长助理"><span>店长助理</span></a>
                <a href="" data="经理助理"><span>经理助理</span></a>
                <a href="" data="店长"><span>店长</span></a>
                <a href="" data="区域经理"><span>区域经理</span></a>
                <a href="" data="营销总监"><span>营销总监</span></a>
                <a href="" data="其他"><span>其他</span></a>
            </div>
            <div class="flriyous" id="qianting" style="display: none">
                <a href="" data="大堂经理/领班"><span>大堂经理/领班</span></a>
                <a href="" data="收银/吧员"><span>收银/吧员</span></a>
                <a href="" data="咨客/客服"><span>咨客/客服</span></a>
                <a href="" data="迎宾/接待"><span>迎宾/接待</span></a>
                <a href="" data="客户经理"><span>客户经理</span></a>
                <a href="" data="销售"><span>销售</span></a>
                <a href="" data="部长"><span>部长</span></a>
                <a href="" data="其他"><span>其他</span></a>
            </div>
            <div class="flriyous" id="houqin" style="display: none">
                <a href="" data="皮鞋美容师"><span>皮鞋美容师</span></a>
                <a href="" data="储备干部"><span>储备干部</span></a>
                <a href="" data="文员"><span>文员</span></a>
                <a href="" data="服务员"><span>服务员</span></a>
                <a href="" data="采购"><span>采购</span></a>
                <a href="" data="保洁"><span>保洁</span></a>
                <a href="" data="厨师"><span>厨师</span></a>
                <a href="" data="保安"><span>保安</span></a>
                <a href="" data="司机"><span>司机</span></a>
                <a href="" data="其他"><span>其他</span></a>
            </div>
            <div class="flriyous" id="peixun" style="display: none">
                <a href="" data="技术总监"><span>技术总监</span></a>
                <a href="" data="技术老师"><span>技术老师</span></a>
                <a href="" data="其他"><span>其他</span></a>
                <a href="" data="礼仪导师"><span>礼仪导师</span></a>
                <a href="" data="培训讲师"><span>培训讲师</span></a>
            </div>
          <!--右边结束-->
        </div>
    </div>
    <!--分类结束-->
    
    <!--筛选开始-->
     <div class="zwciys02">
        <div class="flsxi02">
          <!--性别要求开始-->
          <div class="xzdpgms">
            <h2>性别要求</h2>
            <p>
                <a href="#" class="cuiysy" data="">男女不限</a>
                <a href="#" data="仅限女">仅限女</a>
                <a href="#" data="仅限男">仅限男</a>
            </p>
          </div>
          <!--性别要求结束-->
          
          <!--年龄要求开始-->
          <div class="xzdpgms">
            <h2>年龄要求</h2>
            <p>
                <a href="#" class="cuiysy">年龄不限</a>
                <a href="#">30岁以下</a>
                <a href="#">35岁以下</a>
                <a href="#">38岁以下</a>
                <a href="#">40岁以下</a>
                <a href="#">45岁以下</a>
            </p>
          </div>
          <!--年龄要求结束-->
          
          <!--确定按钮开始-->
          <div class="qranius">
            <a href="#" class="qdius">确定</a>
          </div>
          <!--确定按钮结束-->
          
        </div>
     </div>
    <!--筛选结束-->
    
    
    
    <!--一块开始-->
    <div class="personalList"></div>
    <!--一块结束-->

  
  <!--最底部开始-->
  <div class="footers">
    <ul>
      <li class="actives">
       <a href="#">
         <i class="botmbg01"></i>
         <p>人才</p>
       </a>
      </li>
      <li>
       <a href="#" onclick="goIndex()">
         <i class="botmbg02"></i>
         <p>首页</p>
       </a>
      </li>
      <li>
       <a href="#" onclick="gowode()">
         <i class="botmbg03"></i>
         <p>我的</p>
       </a>
      </li>
    </ul>
  </div>
  <!--最底部结束-->
  
  <!--电话弹层开始-->
  
  <!--弹出层开始-->
  <div class="popupus">
    <!--里边开始-->
    <div class="pupuinto">
      <div class="lbyis">
        <p class="patopss">登录后才可以拨打人才电话哦~</p>
        <ul>
          <li class="wzkljgz01"><a href="#">我再看看</a></li>
          <li class="wzkljgz02"><a href="#">立刻登录</a></li>
        </ul>
      </div>
    </div>
    <!--里边结束-->
  </div>
  <!--弹出层结束-->
  
  <!--电话弹层结束-->

</body>
</html>








