<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>好技师·您的好帮手</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />
    <!-- 公用样式 结束 -->
     <link type="text/css" href="/static/company/css/qiu_zhi_zhe/rencai.css"
           th:href="@{/company/css/qiu_zhi_zhe/rencai.css}" rel="stylesheet" />
     <link type="text/css" href="/static/company/css/qiu_zhi_zhe/bottom.css"
           th:href="@{/company/css/qiu_zhi_zhe/bottom.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/qiu_zhi_zhe_xiang_qing/xiangqing.css"
          th:href="@{/company/css/qiu_zhi_zhe_xiang_qing/xiangqing.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/qiu_zhi_zhe_xiang_qing/bottom02.css"
          th:href="@{/company/css/qiu_zhi_zhe_xiang_qing/bottom02.css}" rel="stylesheet" />
    <!--下拉导航开始-->
    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
     <script type="text/javascript" src="/static/company/js/qiu_zhi_zhe/zhiwei.js"
             th:src="@{/company/js/qiu_zhi_zhe/zhiwei.js}"></script>
    <!--下拉导航结束-->
    <script type="text/javascript" src="/static/company/js/qiu_zhi_zhe/qiuzhizhe.js"
            th:src="@{/company/js/qiu_zhi_zhe/qiuzhizhe.js}"></script>
    <script type="text/javascript" src="/static/company/js/wo_de/jquery.cookie.js"
            th:src="@{/company/js/wo_de/jquery.cookie.js}"></script>
</head>
<body>

    <!--搜索框开始-->
     <div class="searchis">
       <div class="zubiis"><input type="text" placeholder="人才" class="zhiwiis" /></div>
       <div class="youcss"><input name="" type="button" class="aniusss"></div>
     </div>
    <!--搜索框结束-->

    <!--下拉导航开始-->
     <div class="xldhusa">
       <ul>
         <li class="dhxlfs01">分类</li>
         <li class="dhxlfs02">筛选</li>
       </ul>
     </div>
    <!--下拉导航结束-->
    
    <!--分类开始-->
    <div class="zwciys01"> 
        <div class="flsxi01">
          <!--左边开始-->
            <div class="fllfzuos">
                <ul>
                    <li class="houvers"><a href="#" onclick="jishilei()">技师类</a></li>
                    <li><a href="#" onclick="guanlilei()">管理类</a></li>
                    <li><a href="#" onclick="qiantinglei()">前厅类</a></li>
                    <li><a href="#" onclick="houqinlei()">后勤类</a></li>
                    <li><a href="#" onclick="peixunlei()">培训类</a></li>
                </ul>
            </div>
          <!--左边结束-->
          <!--右边开始-->
            <div class="flriyous" id="jishi">
                <a href="#" onclick="fenlei('jsqb')"><span>全部</span></a>
                <a href="#" onclick="fenlei('lls')"><span>理疗师</span></a>
                <a href="#" onclick="fenlei('zls')"><span>足疗师</span></a>
                <a href="#" onclick="fenlei('ams')"><span>按摩师</span></a>
                <a href="#" onclick="fenlei('zjs')"><span>针灸师</span></a>
                <a href="#" onclick="fenlei('tns')"><span>推拿师</span></a>
                <a href="#" onclick="fenlei('xjs')"><span>修脚师</span></a>
                <a href="#" onclick="fenlei('tys')"><span>推油师</span></a>
                <a href="#" onclick="fenlei('crs')"><span>采耳师</span></a>
                <a href="#" onclick="fenlei('zys')"><span>指压师</span></a>
                <a href="#" onclick="fenlei('SPAs')"><span>SPA师</span></a>
                <a href="#" onclick="fenlei('mrams')"><span>盲人按摩师</span></a>
                <a href="#" onclick="fenlei('jsqt')"><span>其他</span></a>
            </div>
            <div class="flriyous" id="guanli" style="display: none">
                <a href="#" onclick="fenlei('glqb')"><span>全部</span></a>
                <a href="#" onclick="fenlei('fzjl')"><span>副总经理</span></a>
                <a href="#" onclick="fenlei('yyjl')"><span>营运经理</span></a>
                <a href="#" onclick="fenlei('zjl')"><span>总经理</span></a>
                <a href="#" onclick="fenlei('dzzl')"><span>店长助理</span></a>
                <a href="#" onclick="fenlei('jlzl')"><span>经理助理</span></a>
                <a href="#" onclick="fenlei('dz')"><span>店长</span></a>
                <a href="#" onclick="fenlei('qyjl')"><span>区域经理</span></a>
                <a href="#" onclick="fenlei('yxzj')"><span>营销总监</span></a>
                <a href="#" onclick="fenlei('glqt')"><span>其他</span></a>
            </div>
            <div class="flriyous" id="qianting" style="display: none">
                <a href="#" onclick="fenlei('qtqb')"><span>全部</span></a>
                <a href="#" onclick="fenlei('dtjllb')"><span>大堂经理/领班</span></a>
                <a href="#" onclick="fenlei('syby')"><span>收银/吧员</span></a>
                <a href="#" onclick="fenlei('zkkf')"><span>咨客/客服</span></a>
                <a href="#" onclick="fenlei('ybjd')"><span>迎宾/接待</span></a>
                <a href="#" onclick="fenlei('khjl')"><span>客户经理</span></a>
                <a href="#" onclick="fenlei('xs')"><span>销售</span></a>
                <a href="#" onclick="fenlei('bz')"><span>部长</span></a>
                <a href="#" onclick="fenlei('qtqt')"><span>其他</span></a>
            </div>
            <div class="flriyous" id="houqin" style="display: none">
                <a href="#" onclick="fenlei('hqqb')"><span>全部</span></a>
                <a href="#" onclick="fenlei('pxmrs')"><span>皮鞋美容师</span></a>
                <a href="#" onclick="fenlei('cbgb')"><span>储备干部</span></a>
                <a href="#" onclick="fenlei('wy')"><span>文员</span></a>
                <a href="#" onclick="fenlei('fwy')"><span>服务员</span></a>
                <a href="#" onclick="fenlei('cg')"><span>采购</span></a>
                <a href="#" onclick="fenlei('bj')"><span>保洁</span></a>
                <a href="#" onclick="fenlei('cs')"><span>厨师</span></a>
                <a href="#" onclick="fenlei('ba')"><span>保安</span></a>
                <a href="#" onclick="fenlei('sj')"><span>司机</span></a>
                <a href="#" onclick="fenlei('hqqt')"><span>其他</span></a>
            </div>
            <div class="flriyous" id="peixun" style="display: none">
                <a href="#" onclick="fenlei('pxqb')"><span>全部</span></a>
                <a href="#" onclick="fenlei('jszj')"><span>技术总监</span></a>
                <a href="#" onclick="fenlei('jsls')"><span>技术老师</span></a>
                <a href="#" onclick="fenlei('lyds')"><span>礼仪导师</span></a>
                <a href="#" onclick="fenlei('pxjs')"><span>培训讲师</span></a>
                <a href="#" onclick="fenlei('pxqt')"><span>其他</span></a>
            </div>
          <!--右边结束-->
        </div>
    </div>
    <!--分类结束-->
    
    <!--筛选开始-->
     <div class="zwciys02">
        <div class="flsxi02">
          <!--性别要求开始-->
          <div class="xzdpgms" id="sex">
            <h2>性别要求</h2>
            <p>
                <a href="#" class="cuiysy" onclick="Xzsex('12')">男女不限</a>
                <a href="#" data="女" onclick="Xzsex('2')">仅限女</a>
                <a href="#" data="男" onclick="Xzsex('1')">仅限男</a>
            </p>
          </div>
          <!--性别要求结束-->

          <!--年龄要求开始-->
          <div class="xzdpgms" id="age">
            <h2>年龄要求</h2>
            <p>
                <a href="#" class="cuiysy" onclick="Xzage('0')">年龄不限</a>
                <a href="#" data="30岁以下" onclick="Xzage('30')">30岁以下</a>
                <a href="#" data="35岁以下" onclick="Xzage('35')">35岁以下</a>
                <a href="#" data="38岁以下" onclick="Xzage('38')">38岁以下</a>
                <a href="#" data="40岁以下" onclick="Xzage('40')">40岁以下</a>
                <a href="#" data="45岁以下" onclick="Xzage('45')">45岁以下</a>
            </p>
          </div>
          <!--年龄要求结束-->

          <!--确定按钮开始-->
          <div class="qranius">
            <a href="#" class="qdius" onclick="queding()">确定</a>
          </div>
          <!--确定按钮结束-->
        </div>
     </div>
    <!--筛选结束-->
    
    
    
    <!--一块开始-->
    <div class="personaldata"></div>
    <!--一块结束-->

  
  <!--最底部开始-->
  <div class="footers">
    <ul>
      <li class="actives">
       <a href="#">
         <i class="botmbg01"></i>
         <p>人才</p>
       </a>
      </li>
      <li>
       <a href="#" onclick="goIndex()">
         <i class="botmbg02"></i>
         <p>首页</p>
       </a>
      </li>
      <li>
       <a href="#" onclick="gowode()">
         <i class="botmbg03"></i>
         <p>我的</p>
       </a>
      </li>
    </ul>
  </div>
  <!--最底部结束-->
  
  <!--电话弹层开始-->
  
  <!--弹出层开始-->
  <div class="popupus" id="denglu" style="display: none">
    <!--里边开始-->
    <div class="pupuinto">
      <div class="lbyis">
        <p class="patopss">登录后才可以拨打人才电话哦~</p>
        <ul>
          <li class="wzkljgz01" id="zaikandenglu"><a href="#">我再看看</a></li>
          <li class="wzkljgz02" id="likedenglu"><a href="#">立刻登录</a></li>
        </ul>
      </div>
    </div>
    <!--里边结束-->
  </div>
  <!--弹出层结束-->
    <div class="popupus" id="wanshan" style="display: none">
        <!--里边开始-->
        <div class="pupuinto">
            <div class="lbyis">
                <p class="patopss">完善信息才可以拨打电话哦~</p>
                <ul>
                    <li class="wzkljgz01" id="zaikanwanshan"><a href="#">我再看看</a></li>
                    <li class="wzkljgz02" id="likewanshan"><a href="#">立刻完善</a></li>
                </ul>
            </div>
        </div>
        <!--里边结束-->
    </div>
    <!--电话弹出层开始-->
    <div class="popupus xianyin02" style="display: none">
        <!--里边开始-->
        <div class="pupuinto">
            <div class="lbyis">
                <p class="patopss">开通好技师快招服务后才可以电话直接联系人才哦~</p>
                <ul>
                    <li class="wzkljgz01" id="zaikankaitong"><a href="#">我再看看</a></li>
                    <li class="wzkljgz02" id="likekaitong"><a href="#">立刻开通</a></li>
                </ul>
            </div>
        </div>
        <!--里边结束-->
    </div>

    <div class="popupus xianyin03" style="display: none">
        <!--里边开始-->
        <div class="pupuinto">
            <div class="lbyis">
                <p class="patopss">您的好技师服务已到期,请续费,才可以电话直接联系人才哦~</p>
                <ul>
                    <li class="wzkljgz01" id="zaikanxufei"><a href="#">我再看看</a></li>
                    <li class="wzkljgz02" id="likexufei"><a href="#">立刻续费</a></li>
                </ul>
            </div>
        </div>
        <!--里边结束-->
    </div>
  
  <!--电话弹层结束-->

</body>
</html>








