@charset "utf-8";
/* CSS Document */

body{background:#fff;}

/*最上边开始*/
.zsbuyus{ height:4rem; font-size:1.2rem; color:#9E9E9E; text-align:center; line-height:4rem;}
  
  .xibxtqws{ width:70%; margin:0 auto; padding-top:2rem;}
   .xibxtqws h1{font-size:1.2rem; color:#404040; text-align:center;}
    
	.xibxtqws p{font-size:1.2rem; color:#9E9E9E; padding-top:1rem;}
	
	.xibxtqws h3{font-size:1.2rem; color:#9E9E9E; text-align:center; font-weight:normal; padding:2rem 0 1.5rem 0;}
	.xibxtqws h3 span{ color:#ff6118;}
/*最上边结束*/


.scuuyss{width:50%; margin:0 auto; position:relative;}

.iuyyyos{width:100%; display:block; box-shadow: 1px 1px 30px #ccc; -moz-box-shadow: 1px 1px 30px #ccc; -webkit-box-shadow: 1px 1px 30px #ccc;}
.iuyyyos img{ width:100%;}

.sczzbuts{ display:block; width:100%; background:#FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem; color:#FFFFFF; text-align:center; padding:1rem 0 1rem 0; margin-top:2rem;}

.iuyyyos02 h1{ padding-top:6rem;}
.iuyyyos02 h1 img{ width:60%;}


.iuyyyos02 h1{ text-align:center;}



.iuyyyos03 h2{font-size:1.6rem; color:#404040; padding-top:3rem; text-align:center;}
.iuyyyos03 p{font-size:1.2rem; color:#9E9E9E; text-align:center; padding-top:0.3rem;}


.sczzbuts02{ display:block; width:50%; margin:0 auto; background:#FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem; color:#FFFFFF; text-align:center; padding:1rem 0 1rem 0; margin-top:2rem;}
