@charset "utf-8";
/* CSS Document */
html,body{ height:100%; overflow:auto;}
body{ background:#fff;}


/*我的-个人标签开始*/

.sibyous{ background:#f7f7f7; padding-bottom:1rem;}

.conthaves{ background:#fff; padding:1rem 1.2rem 1rem 1.2rem;}


.conthaves ul li{ position:relative; padding:5px 12px 5px 12px; float:left; background:#FFF0E9; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.4rem; color:#FF6118; margin:0.7rem;}

.gbanius{ display:block; position:absolute; right:-0.7rem; top:-0.7rem; width:1.7rem;}


.kbniyus{padding:2rem 1.2rem 2rem 1.2rem; font-size:1.4rem; color:#9E9E9E; text-align:center; background:#fff;}





.nrxbyuus{ padding:1rem 1.2rem 1rem 1.2rem;}

.nrxbyuus a{ display:inline-block; background:#F7F7F7; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.4rem; color:#404040; padding:5px 12px 5px 12px; margin:0.6rem;}

/*我的-个人标签结束*/


/*我的-求职岗位开始*/

   .flsxi01{width:100%; background:#fff; display:box; display:-webkit-box; display:-moz-box; height:100%; overflow:auto;}
     /*左边开始*/
	 .fllfzuos{width:12rem; border-right:3px solid #ebebeb;  padding-top:0.6rem; }
	  .fllfzuos ul li{ width:100%; font-size:1.4rem; color:#404040; text-align:center;}
	  .fllfzuos ul li a{ display:block; width:100%; padding:10px 0 10px 0; color:#404040;}
	   .fllfzuos ul li.houvers a{color:#FF6118; background:url(../images/youxzbs.png) no-repeat center right; background-size:1rem auto;}
	 /*左边结束*/
	 
	 /*右边开始*/
	   .flriyous{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; padding:1rem 0 3rem 1rem;}
	     .flriyous span{ display:inline-block; font-size:1.4rem; color:#404040; background:#f7f7f7; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:6px 16px 6px 16px; margin:4px;}
	 /*右边结束*/

/*我的-求职岗位结束*/

/*意向城市开始*/
  .yxcsjs{ padding:0; border-bottom:1px solid #ebebeb;}
    
	.searthis{ padding:1rem 1.2rem 1rem 1.2rem; border-bottom:1px solid #ebebeb;}
	  .srkuisps{ display:block; width:100%; background:#F2F2F2 url(../images/xuanzes02.png) no-repeat center right; background-size:2rem auto; border-radius:10rem; -moz-border-radius:10rem; -webkit-border-radius:10rem; padding:0.7rem 0 0.7rem 0; padding-left:1rem; font-size:1.4rem; color:#9E9E9E;}
	
	
	 .fllfzuos02{width:12rem; padding-top:0.6rem; min-height:46rem;}
	  .fllfzuos02 ul li{ width:100%; font-size:1.4rem; color:#404040; text-align:center;}
	  .fllfzuos02 ul li a{ display:block; width:100%; padding:10px 0 10px 0; color:#404040;}
	   .fllfzuos02 ul li.houvers a{color:#FF6118; background:#f7f7f7; background-size:1rem auto;}
	
	  
	  .flriyous02{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; padding:1rem 0 3rem 2rem; background:#f7f7f7;}
	     .flriyous02 span{ display:block; font-size:1.4rem; color:#9E9E9E; padding:1rem 0 1rem 0;}
	       
		   .flriyous02 span:hover{color:#FF6118;}
		   
/*意向城市结束*/



.zcyuuser{ height:100%; overflow:auto;}































