@charset "utf-8";
/* CSS Document */
body{ background:#fff;}

 .sqcgi01{ text-align:center; padding-top:4rem;}
   .sqcgi01 img{width:8rem;}

  .sqcgi02{font-size:1.6rem; color:#13D490; text-align:center; padding-top:0.3rem;}
  
  .sqcgi03{font-size:1.4rem; color:#404040; padding:1rem 3rem 1rem 3rem; text-align:center;}
  
  
  
  .sqcgi04{ width:21rem; margin:0 auto; padding-top:2rem;}
  .sqcgi04 a{ display:block; background:#FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem;color: #FFFFFF; padding:0.7rem 0 0.7rem 0; text-align:center;}
  
  .sqcgi05{ width:21rem; margin:0 auto; padding-top:1.5rem;}
   .sqcgi05 a{display:block; background:#fff; border:1px solid #FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem;color: #FF6118; padding:0.7rem 0 0.7rem 0; text-align:center;}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  