.container {
    background: #bebebe;
}

/* 首页导航div的css开始 */
.kuaizhao {
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
}
.kuaizhao img{
    width:70%;
    height: 70%;
}
.weixiang {
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
}
.weixiang img{
    width:70%;
    height: 70%;
}
.wuyou {
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
}
.wuyou img{
    width:70%;
    height: 70%;
}
.zixun {
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
}
.zixun img{
    width:70%;
    height: 70%;
}
/* 首页导航div的css结束 */


