.page {
    background: #bebebe;
}



/*整个广告div的css*/
#ad{
    width:100%;
    height:100%;
    position:absolute;
}
/*取消小圆点*/
#ad li{
    list-style:none;
}

#ad_img li{
    display:none;
}

/*角落显示数字的ul*/
#ad_num{
    overflow:hidden;
    position:absolute;
    bottom:3em;
    right:3em;
    color:#FFF;
}
/*数字的浮动*/
#ad_num li{
    border:#ff6f2d solid 1px;
    float:left;
    /*margin:0em 2em;*/
    padding:3em 3em;
}


.numsover{
    background-color:#CF3;
    color:#F00;
}

.numsout{}














#index {
    margin: 0
    /*background: #d7d7d7;*/
}

#index_lunbo .main_visual {

}

#index_lunbo .main_image {
    height: 5rem;
    overflow: hidden;
    position: relative
}

#index_lunbo .main_image ul {
    width: 9999px;
    height: 5rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

#index_lunbo .main_image li {
    float: left;
    width: 100%;
    height: 5rem
}

#index_lunbo .main_image li span {
    display: block;
    width: 100%;
    height: 5rem
}

#index_lunbo .main_image li img {
    width: 100%;
    height: 100%
}

#index_lunbo div.flicking_con {
    position: absolute;
    top: 2.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 21px;
    margin: auto;
    text-align: center
}

#index_lunbo div.flicking_con span {
    color: #ddd;
    margin-right: 2%;
    padding: 0;
    background: #ddd;
    text-indent: -1000px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block
}

#index_lunbo {
    vertical-align: middle
}

#index_lunbo div.flicking_con span.on {
    background-position: 0 -21px;
    color: #fff;
    background: #fff
}

















#index>div {
    overflow: hidden;
    background-color: #fff
}

#index>a {
    margin-top: 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px 0 #ddd
}

#index .Dhang a {
    color: #333
}

#index #hot {
    background-color: #fff;
    margin-top: .125rem
}

#index .title {
    height: 1.173rem;
    line-height: 1.173rem;
    color: #333;
    font-size: .6rem;
    padding: 0 3% 0 0;
    border-bottom: 1px solid #e0e0e0
}

#index #qiye {
    background-color: #fff;
    margin-top: 2%
}

#index .title {
    color: #333;
    font-size: .427rem;
    border-bottom: 1px solid #e0e0e0
}

#index .title span:first-child {
    border-left: 3px solid #ff6118;
    padding-left: 2%
}

#index .title span:last-child {
    float: right;
    font-size: .32rem;
    color: #ff6118
}

#index_footer footer a:nth-child(3) p {
    color: #ff7131
}

#index {
    margin-bottom: 16%
}

#index .Dhang ul li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 4% 0 2% 0
}

#index .Dhang ul li img {
    width: .773rem;
    height: .733rem
}

#index .Dhang ul li em {
    display: block;
    font-size: .32rem;
    margin-top: 7%;
    font-style: normal
}

#index #list2 li {
    padding: 1% 0 0 0;
    background: #fff;
    position: relative;
    border-bottom: 2px solid #f2f2f2
}

#index #list2 li#morezhiwei {
    height: 1.173rem;
    line-height: 1.173rem;
    text-align: center;
    font-size: .373rem;
    color: #ff6118;
    border-top: 3px solid #f7f7f7
}

#index #list2 li>div {
    overflow: hidden
}

#index #list2 li .row1 {
    line-height: .7rem
}

#index #list2 li .row1 .left {
    float: left;
    width: 70%
}

#index #list2 li .row1 .left>img {
    position: absolute;
    top: -4%;
    width: 7%
}

#index #list2 li .row1 .left>span:last-child {
    margin-left: 12%;
    font-size: .4rem;
    color: #ff7131
}

#index #list2 li .row1 .left>span:last-child img {
    width: 7%;
    vertical-align: top;
    margin-top: 2.5%
}

#index #list2 li .row1 .left span.title {
    font-size: .4rem;
    color: #ff7131;
    margin-left: 0
}

#index #list2 li .row1 .left .nan {
    line-height: .5rem;
    background: #00a0ea;
    color: #fff;
    padding: 0 3%;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: .35rem;
    margin-left: 4%;
    vertical-align: top;
    margin-top: 2%
}

#index #list2 li .row1 .left .nv {
    line-height: .5rem;
    background: #f29c9f;
    color: #fff;
    padding: 0 3%;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: .35rem;
    margin-left: 4%;
    vertical-align: top;
    margin-top: 2%
}

#index #list2 li .row1 .right {
    float: right;
    text-align: right;
    width: 30%
}

#index #list2 li .row1 .right img {
    width: 12%
}

#index #list2 li .row1 .right .dizhi {
    font-size: .4rem;
    color: #666;
    vertical-align: text-bottom;
    margin-bottom: 1%
}

#index #list2 li .row2 {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%
}

#index #list2 li .row2 .left {
    float: left;
    width: auto;
    color: #666;
    border-radius: 6px
}

#index #list2 li .row2 .left img {
    height: 1.733rem;
    width: 1.733rem;
    vertical-align: middle;
    border-radius: 6px
}

#index #list2 li .row2 .right {
    float: right;
    width: 80%;
    border-bottom: 1px solid #f8f8f8;
    padding-bottom: 1%;
    margin-top: -0.08rem
}

#index #list2 li .row2 .right>p {
    color: #666;
    margin-bottom: 0rem;
    height: .65rem;
    line-height: .6rem;
    overflow: hidden
}

#index #list2 li .row2 .right .money {
    color: #f85757;
    padding-right: 3%
}

#index #list2 li .row2 .right p:first-child span:first-child {
    font-size: .453rem;
    float: left
}

#index #list2 li .row2 .right p:first-child span:nth-child(2) {
    margin-left: 2%
}

#index #list2 li .row2 .right p:first-child span:nth-child(2) img {
    width: 5%;
    vertical-align: sub
}

#index #list2 li .row2 .right p:first-child span:nth-child(3) {
    color: #ea1818;
    font-size: .43rem;
    margin-left: 0;
    height: .65rem;
    line-height: .6rem
}

#index #list2 li .row2 .right p:first-child span:nth-child(4) {
    font-size: .347rem;
    float: right;
    margin: .5% 0 0 0;
    color: #ff6118
}

#index #list2 li .row2 .right p span.mon {
    font-size: .347rem;
    float: right;
    margin: 1% 0 0 0;
    color: #ff6118
}

#index #list2 li .row2 .right p:nth-child(2) span {
    font-size: .347rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#index #list2 li .row2 .right p:nth-child(2) span:nth-child(2) {
    float: right;
    font-size: .293rem
}

#index #list2 li .row2 .right p:nth-child(3) span {
    padding: 0 1.3%;
    border: 1px solid #e8e8e8;
    color: #666;
    border-radius: 3px;
    margin-right: 1.3%;
    display: inline-block;
    font-size: .293rem;
    height: .46rem;
    line-height: .46rem
}

#index #list2 li .row2 .right p:nth-child(4) span {
    padding: 0 2.5%;
    background: #f7f7f7;
    color: #828282;
    margin-right: 1.3%;
    display: inline-block;
    font-size: .293rem;
    margin-bottom: 2%;
    height: .46rem;
    line-height: .46rem;
    border-radius: 3px
}

#index #list2 li .row3 {
    overflow: hidden;
    float: right;
    width: 78%
}

#index #list2 li .row3 .right span:first-child {
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 0 7%;
    display: inline-block;
    font-size: .293rem;
    color: #8f8f8f;
    margin: 4% 0 4% 3%;
    text-align: center;
    height: .64rem;
    line-height: .64rem;
    margin-right: 4.7%
}

#index #list2 li .row3 .right span:last-child {
    background: #fff;
    border: 1px solid #ff6118;
    border-radius: 3px;
    padding: 0 7%;
    display: inline-block;
    font-size: .293rem;
    color: #ff6f2d;
    margin: 4% 4% 4% 3%;
    text-align: center
}

#index #list2 li .row3 .no {
    color: #fff;
    background-color: #999
}

#index #list2 li .row3 .right {
    float: right;
    text-align: right;
    width: 55%;
    margin-right: .7%
}

#index #list2 li .row3 .left {
    float: left;
    font-size: .293rem;
    color: #666;
    line-height: 1rem;
    width: 44%
}

#index #list2 li .row3 .left em {
    color: #999;
    font-style: normal;
    margin-left: 2%;
    width: 20%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top
}

#index #list1 li {
    padding: 1% 0;
    background: #fff;
    position: relative;
    border-bottom: 2px solid #f2f2f2
}

#index #list1 li#morerencai {
    height: 1.173rem;
    line-height: 1.173rem;
    text-align: center;
    font-size: .373rem;
    color: #ff6118;
    border-top: 3px solid #f7f7f7
}

#index #list1 li>div {
    overflow: hidden
}

#index #list1 li .row1 {
    line-height: .7rem
}

#index #list1 li .row1 .left {
    float: left;
    width: 70%
}

#index #list1 li .row1 .left>img {
    position: absolute;
    top: -4%;
    width: 7%
}

#index #list1 li .row1 .left>span:last-child {
    margin-left: 12%;
    font-size: .4rem;
    color: #ff7131
}

#index #list1 li .row1 .left>span:last-child img {
    width: 7%;
    vertical-align: top;
    margin-top: 2.5%
}

#index #list1 li .row1 .left span.title {
    font-size: .4rem;
    color: #ff7131;
    margin-left: 0
}

#index #list1 li .row1 .left .nan {
    line-height: .5rem;
    background: #00a0ea;
    color: #fff;
    padding: 0 3%;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: .35rem;
    margin-left: 4%;
    vertical-align: top;
    margin-top: 2%
}

#index #list1 li .row1 .left .nv {
    line-height: .5rem;
    background: #f29c9f;
    color: #fff;
    padding: 0 3%;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: .35rem;
    margin-left: 4%;
    vertical-align: top;
    margin-top: 2%
}

#index #list1 li .row1 .right {
    float: right;
    text-align: right;
    width: 30%
}

#index #list1 li .row1 .right img {
    width: 12%
}

#index #list1 li .row1 .right .dizhi {
    font-size: .4rem;
    color: #666;
    vertical-align: text-bottom;
    margin-bottom: 1%
}

#index #list1 li .row2 {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%
}

#index #list1 li .row2 .left {
    border: 1px solid #f2f2f2;
    width: 1.733rem;
    height: 1.733rem;
    border-radius: 6px;
    float: left;
    width: auto;
    color: #666;
    border-radius: 6px
}

#index #list1 li .row2 .left img {
    height: 1.733rem;
    width: 1.733rem;
    vertical-align: middle;
    border-radius: 6px
}

#index #list1 li .row2 .right {
    float: right;
    width: 80%;
    /* border-bottom: 1px solid #f8f8f8; */
    padding-bottom: 1%
}

#index #list1 li .row2 .right>p {
    color: #666;
    margin-bottom: .05rem
}

#index #list1 li .row2 .right p.names {
    height: .55rem;
    line-height: .5rem;
    margin-bottom: .13rem
}

#index #list1 li .row2 .right p.test_p {
    overflow: hidden;
    height: .5rem;
    line-height: .5rem;
    margin-bottom: .1rem
}

.test_p span {
    float: left
}

#index #list1 li .row2 .right .money {
    color: #ff6118;
    font-size: .347rem;
    float: right;
    margin-top: .5%
}

#index #list1 li .row2 .right p:first-child span:first-child {
    font-size: .453rem;
    float: left
}

#index #list1 li .row2 .right p:first-child span:nth-child(2) {
    margin-left: 2%;
    float: left;
    height: .4rem
}

#index #list1 li .row2 .right p:first-child span:nth-child(2) img {
    height: .4rem;
    display: inline-block;
    margin-top: .05rem
}

#index #list1 li .row2 .right p:nth-child(2) span {
    font-size: .347rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#index #list1 li .row2 .right p:nth-child(2) span:nth-child(3) {
    float: right;
    font-size: .293rem;
    border: 0;
    margin-right: 0;
    padding-right: 0
}

#index #list1 li .row2 .right p:nth-child(2) span {
    padding: 0 2.5%;
    border: 1px solid #e8e8e8;
    color: #666;
    border-radius: 3px;
    margin-right: 2%;
    display: inline-block;
    font-size: .293rem;
    border-radius: 3px;
    height: .48rem;
    line-height: .48rem
}

#index #list1 li .row2 .right p:nth-child(3) span {
    background: #f7f7f7;
    padding: 0 2.5%;
    color: #828282;
    margin-right: 2%;
    display: inline-block;
    font-size: .293rem;
    margin-bottom: 3%;
    height: .48rem;
    line-height: .48rem;
    border-radius: 3px
}

#index #list1 li .row2 .right p:nth-child(4) {
    font-size: .347rem;
    margin-top: .1rem
}

#index #list1 li .row3 {
    overflow: hidden;
    float: right;
    width: 80%;
    border-top: 1px solid #f2f2f2;
}

#index #list1 li .row3 .right span:first-child {
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 0 7%;
    display: inline-block;
    font-size: .293rem;
    color: #8f8f8f;
    margin: 4% 0 4% 3%;
    text-align: center;
    margin-right: 4.7%;
    height: .64rem;
    line-height: .64rem
}

#index #list1 li .row3 .right span:last-child {
    background: #fff;
    border: 1px solid #ff6118;
    border-radius: 3px;
    padding: 0 7%;
    display: inline-block;
    font-size: .293rem;
    color: #ff6f2d;
    margin: 4% 4% 4% 3%;
    text-align: center;
    height: .64rem;
    line-height: .64rem
}

#index #list1 li .row3 .no {
    color: #fff;
    background-color: #999
}

#index #list1 li .row3 .right {
    float: right;
    text-align: right;
    width: 61%
}

#index #list1 li .row3 .left {
    float: left;
    font-size: .293rem;
    color: #666;
    margin-top: 2%;
    width: 60%
}

#index #list1 li .row3 .left em {
    color: #999;
    font-style: normal;
    margin-left: 2%;
    width: 20%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top
}