<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/layout-switch}">
<head>
    <title>委托招聘付费流水</title>

    <!-- 当前页面自定义JS -->
    <script src="/static/js/finance/kuaizhao.js" th:src="@{/js/finance/entrust.js}"></script>
    <script src="/static/js/Excel/table-export.js" th:src="@{/js/Excel/table-export.js}"></script>
    <script src="/static/js/Excel/tableExport.js" th:src="@{/js/Excel/tableExport.js}"></script>
    <script src="/static/js/Excel/main.js" th:src="@{/js/Excel/main.js}"></script>
    <script src="/static/js/Excel/jquery.base64.js" th:src="@{/js/Excel/jquery.base64.js}"></script>
</head>


<body>


<div layout:fragment="content">
    <div class="row">
        <div class="navbar-form navbar-left" role="search">
            <button class="btn btn-default" onclick="btnExport()">导出到Excel</button>
        </div>
    </div>


        <div class="row">
            <div class="panel panel-default">

                <div class="panel-body" id="wrapper">
                    <table class="table text-nowrap" id="sorter">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll"/></th>
                            <th>id</th>
                            <th>企业名称</th>
                            <th>手机号</th>
                            <th>交易时间</th>
                            <th>交易金额</th>
                            <th>套餐类型</th>
                            <th>服务截止时间</th>
                        </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>

</div>

</body>
</html>