<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.CommonPositionMapper">

    <select id="getPositionByHopeCity" resultType="java.util.Map">
        (SELECT  p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
             c.name,c.company_type,c.company_scale
         FROM POSITION p,company c,USER u
         WHERE p.company_id =c.id AND c.user_id =u.id AND u.account_state = 1 AND c.matState = 1
               AND p.state = 1 AND c.company_city LIKE concat(#{address},'%')
         ORDER BY
             p.hot)
        UNION
        (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
                       c.name,c.company_type,c.company_scale
                   FROM POSITION p,company c,USER u
                   WHERE p.company_id =c.id AND c.user_id =u.id AND u.account_state = 1 AND c.matState = 1
                         AND p.state = 1 AND c.province_id = #{pid}
                   ORDER BY
                       p.hot)
    </select>

    <select id="getPositionByAddress" resultType="java.util.Map">
        select DISTINCT * from
        (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c where c.id =p.company_id and p.state = 1 and p.company_id in (
        select c.id from company c,personal p,user u where c.user_id = u.id and u.account_state = 1 and c.matState =1 and c.company_city like concat(#{address},'%') and p.user_id=1
        )
        union all
        select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c,user u where u.id =c.user_id and c.id =p.company_id
        and u.account_state = 1 and c.matState =1 and p.state =1 and c.company_city in (
        select name from region where pId in (
        select id from region where id in (
        select pId from region  where name in(#{address})
        )
        )
        )
        ) cap ORDER BY hot desc
    </select>

    <select id="getPositionByAddress01" resultType="java.util.Map">
    select DISTINCT * from
    (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
    c.name,c.company_type,c.company_scale from position p,company c where c.id =p.company_id and p.state = 1 and p.company_id in (
    select c.id from company c,personal p,user u where c.user_id = u.id and u.account_state = 1 and c.matState =1 and locate(c.company_city,#{city})>0 and p.user_id=1
    )
    union all
    select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
    c.name,c.company_type,c.company_scale from position p,company c,user u where u.id =c.user_id and c.id =p.company_id
    and u.account_state = 1 and c.matState =1 and p.state =1 and c.company_city in (
    select name from region where pId in (
    select id from region where id in (
    select pId from region  where name in(#{hopeCity})
    )
    )
    )
    ) cap ORDER BY hot desc
</select>

    <select id="getPositionByAddress02" resultType="java.util.Map">
        select DISTINCT * from
        (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c where c.id =p.company_id and p.state = 1 and p.company_id in (
        select c.id from company c,personal p,user u where c.user_id = u.id and u.account_state = 1 and c.matState =1 and locate(c.company_city,#{city})>0 and p.user_id=1
        )
        union all
        select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c,user u where u.id =c.user_id and c.id =p.company_id
        and u.account_state = 1 and c.matState =1 and p.state =1 and c.company_city in (
        select name from region where pId in (
        select id from region where id in (
        select pId from region  where name in(#{hopeCity1},#{hopeCity2})
        )
        )
        )
        ) cap ORDER BY hot desc
    </select>

    <select id="getPositionByAddress03" resultType="java.util.Map">
        select DISTINCT * from
        (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c where c.id =p.company_id and p.state = 1 and p.company_id in (
        select c.id from company c,personal p,user u where c.user_id = u.id and u.account_state = 1 and c.matState =1 and locate(c.company_city,#{city})>0 and p.user_id=1
        )
        union all
        select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c,user u where u.id =c.user_id and c.id =p.company_id
        and u.account_state = 1 and c.matState =1 and p.state =1 and c.company_city in (
        select name from region where pId in (
        select id from region where id in (
        select pId from region  where name in(#{hopeCity1},#{hopeCity2},#{hopeCity3})
        )
        )
        )
        ) cap ORDER BY hot desc
    </select>

    <select id="getPositionByAddress04" resultType="java.util.Map">
        select DISTINCT * from
        (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c where c.id =p.company_id and p.state = 1 and p.company_id in (
        select c.id from company c,personal p,user u where c.user_id = u.id and u.account_state = 1 and c.matState =1 and locate(c.company_city,#{city})>0 and p.user_id=1
        )
        union all
        select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c,user u where u.id =c.user_id and c.id =p.company_id
        and u.account_state = 1 and c.matState =1 and p.state =1 and c.company_city in (
        select name from region where pId in (
        select id from region where id in (
        select pId from region  where name in(#{hopeCity1},#{hopeCity2},#{hopeCity3},#{hopeCity4})
        )
        )
        )
        ) cap ORDER BY hot desc
    </select>

    <select id="getPositionByAddress05" resultType="java.util.Map">
        select DISTINCT * from
        (SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c where c.id =p.company_id and p.state = 1 and p.company_id in (
        select c.id from company c,personal p,user u where c.user_id = u.id and u.account_state = 1 and c.matState =1 and locate(c.company_city,#{city}) >0 and p.user_id=1
        )
        union all
        select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale from position p,company c,user u where u.id =c.user_id and c.id =p.company_id
        and u.account_state = 1 and c.matState =1 and p.state =1 and c.company_city in (
        select name from region where pId in (
        select id from region where id in (
        select pId from region  where name in(#{hopeCity1},#{hopeCity2},#{hopeCity3},#{hopeCity4},#{hopeCity5})
        )
        )
        )
        ) cap ORDER BY hot desc
    </select>

    <!-- 根据职位id查询职位相关信息 -->
    <select id="getPositionById" resultType="java.util.Map">
        SELECT p.id,p.position_info,c.company_addr,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale
        FROM position p,company c
        where p.company_id =c.id AND p.id = #{id}
    </select>

    <!-- 查询所有职位信息或者根据公司姓名或者手机号查询职位信息 -->
    <select id="getAllPosition" resultType="java.util.Map">
        SELECT p.id,p.position_name,p.position_type,p.sex,p.age,p.money,p.experience,p.position_info,p.hot,
        date_format(p.create_time,'%Y-%m-%d %H:%i:%s') as create_time,p.exposure_number,p.see_number,
        date_format(p.update_time,'%Y-%m-%d %H:%i:%s') as update_time,p.share_number,p.resume_number,
        p.welfare,p.state,c.name,c.phone,c.company_addr
        FROM position p,company c,user u
        <where>
            p.company_id =c.id AND c.user_id =u.id and p.state = 4 and c.matState = 3
            <if test="name != '' and name != null">
                AND c.name like concat('%',#{name},'%')
            </if>
            <if test="phone != '' and phone != null">
                AND c.phone like concat('%',#{phone},'%')
            </if>
            AND (u.account_state = 1 OR u.account_state = 2)
        </where>
        ORDER BY
        update_time DESC
    </select>

    <select id="getAllPositionNotonline" resultType="java.util.Map">
        SELECT p.id,p.position_name,p.position_type,p.sex,p.age,p.money,p.experience,p.position_info,p.hot,
        date_format(p.create_time,'%Y-%m-%d %H:%i:%s') as create_time,p.exposure_number,p.see_number,
        date_format(p.update_time,'%Y-%m-%d %H:%i:%s') as update_time,p.share_number,p.resume_number,
        p.welfare,p.state,c.name,c.phone,c.company_addr
        FROM position p,company c,user u
        <where>
            p.company_id =c.id AND c.user_id =u.id and ( p.state = 2 or p.state = 3)
            <if test="name != '' and name != null">
                AND c.name like concat('%',#{name},'%')
            </if>
            <if test="phone != '' and phone != null">
                AND c.phone like concat('%',#{phone},'%')
            </if>
            AND (u.account_state = 1 OR u.account_state = 2)
        </where>
        ORDER BY
        update_time DESC
    </select>

    <select id="getPositionByParams" resultType="java.util.Map">
        SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale
        FROM position p,company c,user u
        <where>
            p.company_id =c.id AND c.user_id =u.id and p.state = 1 and c.matState = 1
            <if test="money != '' and money != null">
                AND p.money = #{money}
            </if>
            <if test="scale != '' and scale != null">
                AND p.company_scale = #{scale}
            </if>
            <if test="type != '' and type != null">
                AND p.position_type = #{type}
            </if>
            <if test="city != '' and city != null">
                AND c.company_city like concat(#{city},'%')
            </if>
            AND u.account_state = 1
        </where>
        ORDER BY
        p.hot desc
    </select>

    <select id="getPositionByParams02" resultType="java.util.Map">
        SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,
        c.name,c.company_type,c.company_scale
        FROM position p,company c,user u
        <where>
            p.company_id =c.id AND c.user_id =u.id and p.state = 1 and c.matState = 1
            <if test="money != '' and money != null">
                AND p.money = '${money}'
            </if>
            <if test="scale != '' and scale != null">
                AND p.company_scale = #{scale}
            </if>
            <if test="positionName != '' and positionName != null">
                AND p.position_name = #{positionName}
            </if>
            <if test="city != '' and city != null">
                AND c.company_city like concat(#{city},'%')
            </if>
            AND u.account_state = 1
        </where>
        ORDER BY
        p.hot desc
    </select>

    <!-- 根据用户企业用户id查询发布的职位 -->
    <select id="getPositionByUserId" resultType="java.util.Map">
        SELECT p.id,c.company_city,p.position_name
        FROM position p,company c,user u
        where p.company_id =c.id AND c.user_id =u.id AND u.id = #{userId}
    </select>

    <!-- 根据职位名称或者店铺名称查询相关职位 -->
    <select id="getPositionByName" resultType="java.util.Map">
        SELECT distinct  * from
        (
        SELECT p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,c.name,c.company_type,c.company_scale

        from company c,user u,position p

        where c.user_id = u.id and c.id = p.company_id and u.account_state = 1 and c.matState = 1 and p.state = 1

            <if test="name != '' and name != null">
                AND p.position_name like concat('%',#{name},'%')
            </if>

        UNION ALL

        select p.id,c.company_city,p.position_name,p.hot,p.money,p.experience,p.age,p.sex,c.icon_path,

        c.name,c.company_type,c.company_scale

        from position p,company c

        where p.company_id = c.id and p.state = 1 and p.company_id in

        (
        select c.id from company c,user u where c.matState = 1 and u.account_state = 1 and u.id = c.user_id

        <if test="name != '' and name != null">
            AND c.name like concat('%',#{name},'%')
        </if>

        ) ) as cap ORDER BY hot DESC

    </select>

    <select id="queryPersonalInfo" resultType="java.util.Map">
        SELECT  p.id,p.sex,p.age,p.expect_money,p.job_experience,p.state,p.info
        FROM personal p
        WHERE p.user_id = #{userId}
    </select>
</mapper>