<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.CommonUserMapper">
    <select id="findUserByPars" resultType="java.util.Map">
        SELECT u.id,u.nick_name,u.avatar,u.openid,u.name,u.phone,u.register_type,date_format(u.create_time,'%Y-%m-%d %H:%i:%s') as create_time,u.type,
        p.sex,p.age,p.expect_money,p.job_experience,p.state,p.info
        FROM users u
        LEFT JOIN personal p ON u.id = p.user_id
        <where>
            u.type =1
            <if test="name != '' and name != null">
                AND u.name like concat('%',#{name},'%')
            </if>
            <if test="phone != '' and phone != null">
                AND u.phone like concat('%',#{phone},'%')
            </if>
        </where>
        ORDER BY
          u.create_time DESC
    </select>

    <select id="queryPersonalInfo" resultType="java.util.Map">
        SELECT  p.id,p.sex,p.age,p.expect_money,p.job_experience,p.state,p.info
        FROM personal p
        WHERE p.user_id = #{userId}
    </select>
</mapper>