<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.CommonCollectionsMapper">
    <select id="getCollectPositionByUserId" resultType="java.util.Map">
        select po.id,co.name,co.company_type,co.company_city,co.company_scale,co.icon_path,po.position_name,po.hot,po.money,
            po.sex,po.age,po.experience
        from position po ,company co,collect_position c,personal p,user u
        where co.id =po.company_id and po.id = c.position_id AND c.personal_id = p.id and p.user_id =u.id and u.id = #{userId}
    </select>
</mapper>