<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.CommonPersonalMapper">

    <!-- 根据求职者地址查询求职者信息 -->
    <select id="findPersonalByAddress" resultType="java.util.Map">
        SELECT p.id,p.name,p.phone,p.age,p.sex,p.address,p.special,p.avatar,date_format(p.create_time,'%Y-%m-%d %H:%i:%s') as create_time,p.hope_job,
        p.hope_city,p.last_login_time,p.expect_money,p.job_experience,p.state,p.info,p.photos
        FROM personal p

        <where>
            <if test="address != '' and address != null">
                p.address like concat('%',#{address},'%')
            </if>
        </where>
        ORDER BY
          p.last_login_time DESC
    </select>

    <!-- 查询所有求职者信息或者根据求职者姓名或者手机号查询求职者信息 -->
    <select id="findPersonalByPars" resultType="java.util.Map">
        SELECT p.id,u.account_state,p.user_id,p.name,p.sex,p.age,p.phone,date_format(p.create_time,'%Y-%m-%d %H:%i:%s') as create_time,month_visits,
        p.hope_job,p.hope_city,p.job_experience,p.address,p.expect_money,p.state,p.resume_state,
        p.record_school,p.once_do,p.my_hometown,p.myself_info,p.resume_number,p.photos,u.openid
        FROM personal p
        LEFT JOIN user u ON u.id = p.user_id
        <where>
            <if test="name != '' and name != null">
                p.name like concat('%',#{name},'%')
            </if>
            <if test="phone != '' and phone != null">
                p.phone like concat('%',#{phone},'%')
            </if>
            AND (u.account_state = 1 OR u.account_state = 2)
        </where>
        ORDER BY
        p.create_time DESC
    </select>

    <!-- 查询和企业符合的求职者信息 -->
    <select id="getPersonalByCity" resultType="java.util.Map">
        SELECT p.id,p.avatar,p.phone,p.name,p.sex,p.age,p.hope_job,p.expect_money,p.address,p.state,p.job_experience
        FROM personal p,user u
        WHERE p.hope_city like concat('%',#{city},'%') and u.account_state = 1 and u.id =p.user_id
        ORDER BY
        p.create_time DESC
    </select>

    <select id="queryPersonalInfo" resultType="java.util.Map">
        SELECT  p.id,p.sex,p.age,p.expect_money,p.job_experience,p.state,p.info
        FROM personal p
        WHERE p.user_id = #{userId}
    </select>
</mapper>