@charset "utf-8";
/* CSS Document */

body{ background:#f7f7f7; padding-bottom:5rem;}

/*头像开始*/
.headaits{ background:#fff; padding:1rem 1.2rem 1rem 1.2rem; margin-top:1rem;}
  /*左边开始*/
  .heaxilfs{font-size:1.6rem; color:#404040; padding-top:1.1rem;}
  /*左边结束*/
  
  /*右边开始*/
  .yobtouxs{}
    .sltoucs{ display:inline-block; vertical-align:middle;}
	
	 img.yjtiss{ width:0.8rem; vertical-align:middle; margin-left:1rem;}
  /*右边结束*/
  
/*头像结束*/


/*个人信息开始*/
.grxxyis{ background:#fff; margin-top:1rem;}
  
  /*输入一块开始*/
  .borxboms{ border-bottom:1px solid #ebebeb;}
    .sryikuys{ padding:1.3rem 1.2rem 1.3rem 1.2rem;}
	
	/*左边开始*/
	.zcsyks{font-size:1.6rem; color:#404040;}
	/*左边结束*/
	
	/*右边开始*/
	.stkius{font-size:1.4rem; color:#9E9E9E; vertical-align:middle; border:0; background:none; text-align:right; width:12rem;}
	/*右边结束*/
  /*输入一块结束*/
  
  /*性别开始*/
  .sexyous{}
    .d-guanzhu{ display:inline-block; vertical-align:middle; font-size:1.4rem; color:#9E9E9E;}
  /*性别结束*/
  

    

/*个人信息结束*/


  /*联系方式开始*/
  .cnouyts{background:#fff; margin-top:1rem;}
    
	/*所在地区开始*/
	.youkuiss{}
	
	.xzeyosx{ display:inline-block; vertical-align:middle;}
	  
	/*所在地区结束*/
	
	/*工作状态开始*/
	.yogzztas{}
	  .xzzwis{ display:inline-block; vertical-align:middle;}
	    
	/*工作状态结束*/
	
	
  /*联系方式结束*/

/*最底部开始*/
.zduioss{ position:fixed; width:100%; height:4rem; left:0; bottom:0;}
  .bcanius{ display:block; width:100%; height:4rem; background:#FF6118; font-size:1.7rem; color:#FFFFFF; text-align:center; line-height:4rem; border:0;}
/*最底部结束*/
































