<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.CollectPersonalMapper">
  <resultMap id="BaseResultMap" type="com.haojishi.model.CollectPersonal">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="personal_id" jdbcType="INTEGER" property="personalId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, company_id, personal_id, create_time
  </sql>
  <delete id="deleCompany" parameterType="java.lang.String" >
    ${sql}
  </delete>
  <select id="PuanDuanQx" parameterType="java.lang.String" resultType="java.util.Map">
    ${sql}
  </select>
</mapper>