<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.haojishi.model.Company">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="register_type" jdbcType="INTEGER" property="registerType" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company_scale" jdbcType="VARCHAR" property="companyScale" />
    <result column="company_special" jdbcType="VARCHAR" property="companySpecial" />
    <result column="company_city" jdbcType="VARCHAR" property="companyCity" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="company_addr" jdbcType="VARCHAR" property="companyAddr" />
    <result column="company_type" jdbcType="VARCHAR" property="companyType" />
    <result column="icon_path" jdbcType="VARCHAR" property="iconPath" />
    <result column="zhi_wu" jdbcType="VARCHAR" property="zhiWu" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="position_count" jdbcType="INTEGER" property="positionCount" />
    <result column="company_info" jdbcType="VARCHAR" property="companyInfo" />
    <result column="company_photo" jdbcType="VARCHAR" property="companyPhoto" />
    <result column="matState" jdbcType="INTEGER" property="matstate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="license_path" jdbcType="VARCHAR" property="licensePath" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="month_visits" jdbcType="INTEGER" property="monthVisits" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="share_number" jdbcType="INTEGER" property="shareNumber" />
    <result column="position_number" jdbcType="INTEGER" property="positionNumber" />
    <result column="position_see_number" jdbcType="INTEGER" property="positionSeeNumber" />
    <result column="position_exposure_number" jdbcType="INTEGER" property="positionExposureNumber" />
    <result column="account_state" jdbcType="INTEGER" property="accountState" />
    <result column="why" jdbcType="VARCHAR" property="why" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, age, sex, phone, user_name, register_type, longitude, latitude, name, 
    company_scale, company_special, company_city, province_id, city_id, area_id, company_addr, 
    company_type, icon_path, zhi_wu, modify_time, position_count, company_info, company_photo, 
    matState, create_time, license_path, last_login_time, month_visits, openid, share_number, 
    position_number, position_see_number, position_exposure_number, account_state, why
  </sql>
</mapper>