<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojishi.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.haojishi.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="account_state" jdbcType="INTEGER" property="accountState" />
    <result column="isShare" jdbcType="INTEGER" property="isshare" />
    <result column="subscribe" jdbcType="INTEGER" property="subscribe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, phone, password, type, openid, account_state, isShare, subscribe, create_time
  </sql>
</mapper>