<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
    <title
           layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">好技狮后台管理系统</title>
    <!--<title sec:authorize="hasRole('ROLE_AGENT')" layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
        共享链代理商后台管理系统</title>-->

    <!-- JQuery -->
    <script src="/webjars/jquery/3.2.1/dist/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <!-- 为了兼容一些使用低版本JQuery的插件 -->
    <script src="/webjars/jquery-migrate/3.0.0/jquery-migrate.min.js"
            th:src="@{/webjars/jquery-migrate/3.0.0/jquery-migrate.min.js}"></script>

    <!-- FontAwesome 图标-->
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">

    <!-- Bootstrap -->
    <script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}">

    <!-- 表单校验 -->
    <link rel="stylesheet" href="/static/vendor/formvalidation/css/formValidation.min.css"
          th:href="@{/vendor/formvalidation/css/formValidation.min.css}">
    <script src="/static/vendor/formvalidation/js/formValidation.min.js"
            th:src="@{/vendor/formvalidation/js/formValidation.min.js}"></script>
    <script src="/static/vendor/formvalidation/js/framework/bootstrap.min.js"
            th:src="@{/vendor/formvalidation/js/framework/bootstrap.min.js}"></script>
    <script src="/static/vendor/formvalidation/js/language/zh_CN.js"
            th:src="@{/vendor/formvalidation/js/language/zh_CN.js}"></script>

    <!-- 分页插件 -->
    <link rel="stylesheet" href="/static/vendor/bs_pagination/jquery.bs_pagination.min.css"
          th:href="@{/vendor/bs_pagination/jquery.bs_pagination.min.css}">
    <script src="/static/vendor/bs_pagination/jquery.bs_pagination.min.js"
            th:src="@{/vendor/bs_pagination/jquery.bs_pagination.min.js}"></script>
    <script src="/static/vendor/bs_pagination/localization/zh-CN.js"
            th:src="@{/vendor/bs_pagination/localization/zh-CN.js}"></script>

    <!-- 页面加载等待插件 -->
    <script src="/static/vendor/jquery-loading-overlay/loadingoverlay.min.js"
            th:src="@{/vendor/jquery-loading-overlay/loadingoverlay.min.js}"></script>

    <!-- 左侧侧边栏样式 -->
    <link href="/static/vendor/navbar-fixed-side/navbar-fixed-side.css"
          th:href="@{/vendor/navbar-fixed-side/navbar-fixed-side.css}" rel="stylesheet"/>

    <!-- Bootstrap 开关样式 -->
    <link rel="stylesheet" href="/static/vendor/bootstrap-switch/css/bootstrap-switch.min.css"
          th:href="@{/vendor/bootstrap-switch/css/bootstrap-switch.min.css}">
    <script src="/static/vendor/bootstrap-switch/js/bootstrap-switch.min.js"
            th:src="@{/vendor/bootstrap-switch/js/bootstrap-switch.min.js}"></script>

    <!-- Bootstrap 文件上传 -->
    <link rel="stylesheet" href="/webjars/bootstrap-fileinput/4.4.5/css/fileinput.min.css"
          th:href="@{/webjars/bootstrap-fileinput/4.4.5/css/fileinput.min.css}">
    <script src="/webjars/bootstrap-fileinput/4.4.5/js/fileinput.js"
            th:src="@{/webjars/bootstrap-fileinput/4.4.5/js/fileinput.min.js}"></script>
    <script src="/webjars/bootstrap-fileinput/4.4.5/themes/fa/theme.min.js"
            th:src="@{/webjars/bootstrap-fileinput/4.4.5/themes/fa/theme.min.js}"></script>
    <script src="/webjars/bootstrap-fileinput/4.4.5/js/locales/zh.js"
            th:src="@{/webjars/bootstrap-fileinput/4.4.5/js/locales/zh.js}"></script>

    <!-- moment js -->
    <script src="/webjars/momentjs/2.18.1/min/moment.min.js"
            th:src="@{/webjars/momentjs/2.18.1/min/moment.min.js}"></script>
    <script src="/webjars/momentjs/2.18.1/locale/zh-cn.js"
            th:src="@{/webjars/momentjs/2.18.1/locale/zh-cn.js}"></script>

    <!-- Bootstrap 日期选择 -->
    <link rel="stylesheet"
          href="/webjars/eonasdan-bootstrap-datetimepicker/4.17.45/build/css/bootstrap-datetimepicker.min.css"
          th:href="@{/webjars/eonasdan-bootstrap-datetimepicker/4.17.45/build/css/bootstrap-datetimepicker.min.css}">
    <script src="/webjars/eonasdan-bootstrap-datetimepicker/4.17.45/build/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/eonasdan-bootstrap-datetimepicker/4.17.45/build/js/bootstrap-datetimepicker.min.js}"></script>
    <link rel="stylesheet" href="/static/css/common.css"
          th:href="@{/css/common.css}">
    <!-- 通用JS -->
    <script src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script src="/static/js/util.js" th:src="@{/js/util.js}"></script>
    <script src="/static/js/data.js" th:src="@{/js/data.js}"></script>
    <script src="/static/js/time.js" th:src="@{/js/time.js}"></script>

</head>
<body>

<!-- 导航栏 -->
<header>
    <div layout:replace="~{fragment/navbar}"></div>
</header>

<!-- 获取应用路径 -->
<a id="baseUrl" th:href="@{/}"></a>

<!-- 页面内容 -->
<div style="margin-top: 70px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <nav class="navbar navbar-default navbar-fixed-side">
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER','ROLE_CUSTOMER','ROLE_GOLD','ROLE_STRATEGY')">
                                    <strong>用户管理</strong>
                                </li>
                                <li>
                                    <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER','ROLE_CUSTOMER')" th:href="@{/users-personal}">个人用户</a>
                                </li>
                                <li>
                                    <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER','ROLE_CUSTOMER')" th:href="@{/users-manage}">个人用户-报名</a>
                                </li>
                                <li>
                                    <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER','ROLE_CUSTOMER')" th:href="@{/company-manage}">企业用户</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER','ROLE_CUSTOMER','ROLE_GOLD','ROLE_STRATEGY')">
                                    <strong>数据分析</strong>
                                </li>
                                <li>
                                    <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER')" th:href="@{/company-manage}">用户访问量</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER')" >
                                    <strong>数据审核</strong>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_WORKER')" >
                                    <a th:href="@{/company-audit}">营业执照审核</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >
                                    <strong>职位管理</strong>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">已上线的职位</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">被冻结的职位</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >
                                    <strong>首页管理</strong>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-personal}">个人端banner</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-company}">企业端banner</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/index-module}">企业端首页栏目管理</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >
                                    <strong>财务管理</strong>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/kuaizhao}">快招付费流水</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">委托招聘付费流水</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >
                                    <strong>资讯发布</strong>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">个人端小喇叭</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">个人端资讯发布(暂无)</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">企业端小喇叭</a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">企业文章资讯发布</a>
                                </li>

                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" >
                                    <strong>消息推送</strong>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                                    <a th:href="@{/banner-manage}">模板消息推送</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-9 col-lg-10">
                <div style="margin-left: 35px;" layout:fragment="content"></div>
            </div>
        </div>
    </div>
</div>

<!-- 页面底部 -->
<footer>
    <div layout:replace="~{fragment/footer}"></div>
</footer>
</body>
</html>