@charset "utf-8";
/* CSS Document */
body{ padding-top:8rem;}

/*搜索框开始*/
.searchis{ background:#fff; height:4rem; width:100%; position:fixed; left:0; top:0; border-bottom:1px solid #ebebeb;}
  .searchis a{ display:block; width:100%; height:4rem; font-size:1.6rem; color:#404040; text-align:center; line-height:4rem; background:url(../../images/biao03.png) no-repeat right center; background-size:3.3rem auto;}

	.aniusss{ width:1.6rem; height:1.6rem; display:block; background:url(../../images/biao03.png) no-repeat center; background-size:100% 100%; -moz-background-size:100% 100%; -webkit-background-size:100% 100%;}
/*搜索框结束*/

/*下拉导航开始*/
.xldhusa{ position:fixed; width:100%; height:4rem; top:4rem; border-bottom:1px solid #ebebeb; background:#fff; z-index:1000;}
  .xldhusa ul{display:box; display:-webkit-box; display:-moz-box;}
   .xldhusa ul li{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; text-align:center; background:url(../../images/down.png) no-repeat right center; background-size:2.1rem auto; -moz-background-size:2.1rem auto; -webkit-background-size:2.1rem auto; height:4rem; font-size:1.3rem; color:#404040; line-height:4rem;}
   .xldhusa ul li a{ color:#404040;}
   .xldhusa ul li.curts{background:url(../../images/tops.png) no-repeat right center; background-size:2.1rem auto; -moz-background-size:2.1rem auto; -webkit-background-size:2.1rem auto; color:#ff6118;}
   .xldhusa ul li.curts a{ color:#ff6118;}

   
   /*分类开始*/
   .zwciys01{ position:fixed; width:100%; height:100%; left:0; top:8rem; z-index:1000; background:url(../../images/tcbg.png);}
   .flsxi01{width:100%; background:#fff; display:box; display:-webkit-box; display:-moz-box;}
     /*左边开始*/
	 .fllfzuos{width:12rem; border-right:3px solid #ebebeb; }
	  .fllfzuos ul li{ width:100%; font-size:1.4rem; color:#404040; text-align:center;}
	  .fllfzuos ul li a{ display:block; width:100%; padding:10px 0 10px 0; color:#404040;}
	   .fllfzuos ul li.houvers a{color:#FF6118; background:url(../../images/youxzbs.png) no-repeat center right; background-size:1rem auto;}
	 /*左边结束*/
	 
	 /*右边开始*/
	   .flriyous{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; padding:1rem 0 3rem 1rem;}
	     .flriyous span{ display:inline-block; font-size:1.4rem; color:#404040; background:#f7f7f7; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:6px 16px 6px 16px; margin:4px;}
	 /*右边结束*/
	 
   /*分类结束*/
   
   /*筛选开始*/
   .zwciys02{position:fixed; width:100%; height:100%; left:0; top:8rem; z-index:1000; background:url(../../images/tcbg.png);}
	  .flsxi02{width:100%; background:#fff; padding-bottom:2rem;}
        
		.xzdpgms{ padding:1.5rem 1rem 0.5rem 1rem;}
		   
		   .xzdpgms h2{ font-size:1.4rem; color:#9E9E9E; font-weight:normal;}
		    
			.xzdpgms p{ padding-top:0.6rem;}
			
			.xzdpgms p a{display:inline-block; font-size:1.4rem; color:#404040; background:#F7F7F7; border-radius:4px; padding:5px 18px 5px 18px; margin:6px 6px 6px 0; }
		     
			 .xzdpgms p a.cuiysy{background:#FFF0E9; color:#FF6118;}
			 
	 /*确定按钮开始*/
   .qranius{ padding:1.6rem 1rem 1rem 1rem;}
    .qdius{ display:block; width:100%; margin:0 auto; background:#FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem; color: #FFFFFF; text-align:center; padding:0.8rem 0 0.8rem 0;}
     /*确定按钮结束*/
			 	
		
   /*筛选结束*/
   
   /*地区开始*/

    .dqkouss{ position:fixed; width:100%; height:100%; top:8rem; background:#fff; left:0; padding-bottom:9rem; z-index:103; overflow:auto;}
/*里边开始*/


/*里边结束*/
   
   /*地区结束*/
   
   
   /*分类2开始*/
   .fenlisse{width:100%; background:#fff; padding:0.5rem 0 1.5rem 0;}
      .fenlisse ul li a{ display:block; font-size:1.4rem; color:#404040; text-align:center; padding:1rem 0 1rem 0;}
	  .fenlisse ul li a:hover{ background:#f7f7f7;}
	  
	  .fenlisse h2{ font-weight:normal; padding:2rem 0 0 0;}
	  .fenlisse h2 a{ display:block; width:91%; margin:0 auto; background:#FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem; color:#FFFFFF; letter-spacing:0; text-align:center; font-weight:normal; padding:9px 0 9px 0;}
   /*分类2结束*/
   
   

/*下拉导航结束*/
















