@charset "utf-8";
/* CSS Document */

/*当前城市开始*/
.dqcshis{ border-bottom:1px solid #EBEBEB; padding:1rem 1rem 1rem 1.2rem;}
  /*左边开始*/
  .zcwzuis{font-size:1.4rem; color:#404040; padding-top:7px;}
  /*左边结束*/
  
  
  /*右边开始*/
  .yocyis a{ width:14rem; padding:7px 5px 7px 16px; display:block; font-size:1.4rem; color:#9E9E9E; background:#F2F2F2; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px;}
    .yocyis a img{height:1.3rem; display:block; float:right; margin:0.2rem 0.5rem 0 0;}
  /*右边结束*/
  
  
/*当前城市结束*/


/*热门城市开始*/

.rmcshis{}
  .rmcshis h2{font-size:1.4rem; color:#9E9E9E; padding:1rem 0 1rem 0.8rem; font-weight:normal;}
   .rmcshis p{ padding:0 1rem 0 0.8rem;}
   .rmcshis p a{display:inline-block; font-size:1.4rem; color:#404040; background:#F7F7F7; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:5px 18px 5px 18px; margin:1px 3px 6px 0;}
/*热门城市结束*/



/*显示点击是哪个字母*/
.showLetter{
    position: fixed;
    color:#00C7C7;
    width: 50px;
    height:50px;
    top:50%;
    left: 50%;
    border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border: #00C7C7 1px solid;
    text-align: center;
    display: none;
}
.showLetter span{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}
/*城市弹层*/
.container{width:100%; height:100%;}

.letter{width:auto;position:fixed;top:14rem; right:1rem; text-align:center; background:none; z-index:10;}
.letter ul{list-style-type:none;}
.letter ul li a{text-decoration:none; font-size:1.2rem; color:#404040;}

.letter h1{font-size:1.2rem; color:#404040; font-weight:normal;}

.city{width:100%;overflow:auto; }
.city-list{width:100%; font-size:1.2rem; color:#FF6118;}
.city-list .city-letter{font-size:1.2rem;display:block; background:#FFF5F0; padding:0.2rem 0 0.2rem 1.2rem; margin-top:1rem;}
.city-list p{color:#afafaf;width:100%; border-bottom:1px solid #EBEBEB;;cursor:pointer; font-size:1.4rem; color:#404040; padding:1rem 0 1rem 1.2rem;}
