<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>个人端-搜索职位</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="css/response.css" rel="stylesheet" />
    <link type="text/css" href="css/public.css" rel="stylesheet" />
    <link type="text/css" href="css/xiangying.css" rel="stylesheet" />
	<!-- 公用样式 结束 -->


     
     <link type="text/css" href="css/sousuozhiwei.css" rel="stylesheet" />
     

    
</head>
<body>
    
    <!--搜索框开始-->
     <div class="searchis">
       <!--左边搜索框开始-->
         <div class="seahilfs">
           <input type="text" class="srukuss" placeholder="SPA" />
           <a href="#" class="xihsss"><img src="images/gaunbi.png" /></a>
         </div>
       <!--左边搜索框结束-->
       <!--右边开始-->
       <div class="sxaniuss">
         <a href="#">搜索</a>
       </div>
       <!--右边结束-->
     </div>
    <!--搜索框结束-->



<div>
    <!--一块开始-->
    <div class="reconblock">
      <a href="#">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs"><a href="#">SPA技师</a></div>
        <div class="fr reseyous"><span class="yse01">急聘</span> <span class="yse02">热度2599</span></div>
      </div>
      <!--职位结束-->
      <!--工资及年限开始-->
      <div class="wagesyears clearfix">
        <div class="fl wayealfs"><a href="#">7000-9000/月</a></div>
        <div class="fr wayefris"><a href="#">经验不限 | 35岁以下 | 仅限女</a></div>
      </div>
      <!--工资及年限结束-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <a href="#"><img src="images/tupian01.png" /></a>
            <div class="yrzs"><img src="images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous">
            <h1><a href="#">常乐足道</a></h1>
            <p><a href="#">单体店 | 1500㎡ | 杭州市 上城区</a></p>
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->
      </a>
    </div>
    <!--一块结束-->
    
    
     <!--一块开始-->
    <div class="reconblock">
      <a href="#">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs"><a href="#">SPA技师</a></div>
        <div class="fr reseyous"><span class="yse01">急聘</span> <span class="yse02">热度2599</span></div>
      </div>
      <!--职位结束-->
      <!--工资及年限开始-->
      <div class="wagesyears clearfix">
        <div class="fl wayealfs"><a href="#">7000-9000/月</a></div>
        <div class="fr wayefris"><a href="#">经验不限 | 35岁以下 | 仅限女</a></div>
      </div>
      <!--工资及年限结束-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <a href="#"><img src="images/tupian01.png" /></a>
            <div class="yrzs"><img src="images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous">
            <h1><a href="#">常乐足道</a></h1>
            <p><a href="#">单体店 | 1500㎡ | 杭州市 上城区</a></p>
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->
      </a>
    </div>
    <!--一块结束-->
</div>




<div>
  <!--列表框开始-->
  <ul class="listbks">
    <li>按摩师</li>
    <li>足道</li>
  </ul>
  <!--列表框结束-->
</div>


    
    <!--没有更多了开始-->
    
    <div class="mydgdss">没有更多了</div>
    
    <!--没有更多了结束-->

  


</body>
</html>








