<!doctype html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>店铺端-编辑职位</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />


    <link type="text/css" href="/static/company/css/wo_de/top.css"
          th:href="@{/company/css/wo_de/top.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/jianli.css" th:href="@{/company/css/jianli.css}" rel="stylesheet" />

    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
    
   <!--选择职位开始-->
    <link rel="stylesheet" type="text/css" href="/static/company/css/zhu_ce_tian_xie_xin_xi/mobileSelect.css"
          th:href="@{/company/css/zhu_ce_tian_xie_xin_xi/mobileSelect.css}" />
    <script src="/static/company/js/zhu_ce_tian_xie_xin_xi/mobileSelect.js" type="text/javascript"
            th:src="@{/company/js/zhu_ce_tian_xie_xin_xi/mobileSelect.js}" ></script>
   <!--选择职位结束-->
    <script src="/static/company/js/position_bj/zhiweibianji.js" type="text/javascript"
            th:src="@{/company/js/position_bj/zhiweibianji.js}" ></script>

</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     编辑职位
     <a href="#" class="zjtous" onclick="window.location.href='/transition/zhiweiguanlirenzhneg';"><img src="/static/company/images/biao04.png" th:src="@{/company/images/biao04.png}"/></a>
     <a href="#" class="qudeds srhos" onclick="yulan()">预览</a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 
 <div class="zontconts">
 
  
   
   <!--职位类型开始-->
   <div class="sryikuys borxboms clearfix">
     <!--左边开始-->
     <div class="fl zcsyks">职位类型</div>
     <!--左边结束-->
     
     <!--右边开始-->
     <div class="fr yogzztas">
       
       <!--选择职位开始-->
       <div class="xzzwis">
           <div id="trigger1" class="zhiiis" onclick="xuanzezhiwei()">技师</div>
        </div> <img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss" />
       <!--选择职位结束-->
       
     </div>
     <!--右边结束-->
     
   </div>
   
   <!--职位类型结束-->
   
   
   <!--一块开始-->
   <a href="#" onclick="ZwMc()">
   <div class="stopsis">
     <div class="zuoius01">职位名称</div>
     <div class="zuoius02" id="zwmc">SPA技师</div>
     <div class="zuoius03"><img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}"/></div>
   </div>
   </a>
   <!--一块结束-->




   <!--月薪开始-->
   
   <div class="sryikuys borxboms clearfix">
     <!--左边开始-->
     <div class="fl zcsyks">月薪</div>
     <!--左边结束-->
     
     <!--右边开始-->
     <div class="fr yogzztas">
       
       <!--选择职位开始-->
       <div class="xzzwis">
           <div id="trigger2" class="zhiiis">5000-8000/月</div>
            <script type="text/javascript">

                var weekdayArr2=['面议','3000元以下','3000-5000/月','5000-8000/月','8000-10000/月','10000-15000/月','15000-20000/月','20000元以上/月'];
                
                
                var mobileSelect2 = new MobileSelect({
                    trigger: '#trigger2', 
                    title: '',  
                    wheels: [
                                {data: weekdayArr2}
                            ],
                    position:[2], //初始化定位 打开时默认选中的哪个 如果不填默认为0
                    transitionEnd:function(indexArr, data){
                        console.log(data);
                    },
                    callback:function(indexArr, data){
                        console.log(data);
                        sessionStorage.setItem("yx",data);
                    }
                });
            
            
            </script>
        </div> <img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}" class="yjtiss"/>
       <!--选择职位结束-->
       
     </div>
     <!--右边结束-->
     
   </div>
   
   <!--月薪结束-->

   <!--经验要求开始-->
 
   <div class="sryikuys borxboms clearfix">
     <!--左边开始-->
     <div class="fl zcsyks">经验要求</div>
     <!--左边结束-->
     
     <!--右边开始-->
     <div class="fr yogzztas">
       
       <!--选择职位开始-->
       <div class="xzzwis">
           <div id="trigger3" class="zhiiis">1-3年</div>
            <script type="text/javascript">
            
                var weekdayArr3=['经验不限','1年以上','3年以上','8年以上','10年以上'];
                
                
                var mobileSelect3 = new MobileSelect({
                    trigger: '#trigger3', 
                    title: '',  
                    wheels: [
                                {data: weekdayArr3}
                            ],
                    position:[2], //初始化定位 打开时默认选中的哪个 如果不填默认为0
                    transitionEnd:function(indexArr, data){
                        console.log(data);
                    },
                    callback:function(indexArr, data){
                        console.log(data);
                        sessionStorage.setItem("jyyq",data);
                    }
                });
            
            
            </script>
        </div> <img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}" class="yjtiss"/>
       <!--选择职位结束-->
       
     </div>
     <!--右边结束-->
     
   </div>
   
   <!--经验要求结束-->
   


 

    <!--性别要求开始-->

   <div class="sryikuys borxboms clearfix">
     <!--左边开始-->
     <div class="fl zcsyks">性别要求</div>
     <!--左边结束-->
     
     <!--右边开始-->
     <div class="fr yogzztas">
       
       <!--选择职位开始-->
       <div class="xzzwis">
           <div id="trigger4" class="zhiiis">仅限男</div>
            <script type="text/javascript">
            
                var weekdayArr4=['男女不限','仅限女','仅限男'];
                
                
                var mobileSelect4 = new MobileSelect({
                    trigger: '#trigger4', 
                    title: '',  
                    wheels: [
                                {data: weekdayArr4}
                            ],
                    position:[2], //初始化定位 打开时默认选中的哪个 如果不填默认为0
                    transitionEnd:function(indexArr, data){
                        console.log(data);
                    },
                    callback:function(indexArr, data){
                        console.log(data);
                        sessionStorage.setItem("xbyq",data);
                    }
                });
            
            
            </script>
        </div> <img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}" class="yjtiss"/>
       <!--选择职位结束-->
       
     </div>
     <!--右边结束-->
     
   </div>
   <!--性别要求结束-->
   

    <!--年龄要求开始-->

   <div class="sryikuys borxboms clearfix">
     <!--左边开始-->
     <div class="fl zcsyks">年龄要求</div>
     <!--左边结束-->
     
     <!--右边开始-->
     <div class="fr yogzztas">
       
       <!--选择职位开始-->
       <div class="xzzwis">
           <div id="trigger5" class="zhiiis">25-30岁</div>
            <script type="text/javascript">
            
                var weekdayArr5=['年龄不限','30岁以下','35岁以下','38岁以下','40岁以下','45岁以下'];
                
                
                var mobileSelect5 = new MobileSelect({
                    trigger: '#trigger5', 
                    title: '',  
                    wheels: [
                                {data: weekdayArr5}
                            ],
                    position:[2], //初始化定位 打开时默认选中的哪个 如果不填默认为0
                    transitionEnd:function(indexArr, data){
                        console.log(data);
                    },
                    callback:function(indexArr, data){
                        console.log(data);
                        sessionStorage.setItem("nlyq",data);
                    }
                });
            
            </script>
        </div> <img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}" class="yjtiss"/>
       <!--选择职位结束-->
       
     </div>
     <!--右边结束-->
     
   </div>
   <!--年龄要求结束-->


   <!--一块开始-->
   <a href="#" onclick="zhiweifuli()">
   <div class="stopsis">
     <div class="zuoius01">职位福利</div>
     <div class="zuoius02" id="zwfl">老板大方/任性话管理/规范化</div>
     <div class="zuoius03"><img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}"/></div>
   </div>
   </a>
   <!--一块结束-->
   
   <!--一块开始-->
   <a href="#">
   <div class="stopsis"onclick="zhiweimiaoshu()">
     <div class="zuoius01">职位描述</div>
     <div class="zuoius02" id="zwms">1、负责SPA客人提供专业的</div>
     <div class="zuoius03"><img src="/static/company/images/yjts.png"  th:src="@{/company/images/yjts.png}"/></div>
   </div>
   </a>
   <!--一块结束-->
   

</div>


<!--保存按钮开始-->
<div class="zduioss">
  <a href="#" class="bcanius" onclick="fabuZhiwei()">保存职位</a>
</div>
<!--保存按钮结束-->
 
 
</body>
</html>








