@charset "utf-8";
/* CSS Document */

body{ background:#fff;}
  
  .dlpicus{ text-align:center;}
    .dlpicus img{ width:7.5rem; padding:4rem 0 2rem 0;}


   .zhijiss{ width:27rem; margin:0 auto; padding-top:2rem;}
    
	.zhijiss li{ width:13rem; border:1px solid #EBEBEB; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; height:11.6rem;}
     .zhijiss li h1{ text-align:center; padding-top:2.5rem;}
       .zhijiss li h1 img{ width:3.2rem;}
       .zhijiss li p{font-size:1.6rem; color:#404040; text-align:center; padding-top:1rem;}

    .zhijiss li.cuyuis{border:1px solid #FF6118; background:url(../../images/xuanze.png) no-repeat right bottom; background-size:1.6rem auto;}
    .zhijiss li.cuyuis p{color:#FF6118;}

  .qdinuns{ width:27rem; margin:0 auto; padding-top:3rem;}

   .qeudinius{ display:block; width:100%; background:#FF6118; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:1.7rem; color:#FFF;text-align:center; padding:0.8rem 0 0.8rem 0;}








