<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="viewModalLabel">编辑企业信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" >
                    <input  type="hidden" name="id">
                    <input  type="hidden" name="pid">
                    <input  type="hidden" name="company_city">
                    <input  type="hidden" name="company_special_str">
                    <div class="tab-content">
                        <div class="tab-pane active" id="shop-tab-view" style="margin-top:15px;">

                            <div class="form-group">
                                <label class="col-xs-4 control-label">企业名称</label>
                                <div class="col-xs-8">
                                    <input type="text" name="company_name" class="form-control" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">店铺规模</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="company_scale" id="company_scale">
                                        <option value="100㎡以下">100㎡以下</option>
                                        <option value="100-300㎡">100-300㎡</option>
                                        <option value="300-500㎡">300-500㎡</option>
                                        <option value="500-1000㎡">500-1000㎡</option>
                                        <option value="1000-2000㎡">1000-2000㎡</option>
                                        <option value="2000-5000㎡">2000-5000㎡</option>
                                        <option value="5000㎡以上">5000㎡以上</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">特色标签</label>
                                <div class="col-xs-8">
                                    <input type="checkbox" name="company_special" value="工资日结">工资日结&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="工资周结">工资周结&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="保底3个月">保底3个月&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="保底6个月">保底6个月<br>
                                    <input type="checkbox" name="company_special" value="长期保底">长期保底&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="不拖欠工资">不拖欠工资&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="无任何押金">无任何押金&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="不熬夜">不熬夜<br>
                                    <input type="checkbox" name="company_special" value="加班少">加班少&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="月休四天">月休四天&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="下班早">下班早&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="不押工资">不押工资<br>
                                    <input type="checkbox" name="company_special" value="宿舍环境好">宿舍环境好&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="伙食好">伙食好&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="报销车费">报销车费&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="老板大方">老板大方<br>
                                    <input type="checkbox" name="company_special" value="规范化管理">规范化管理&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="上社保">上社保&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="绿色正规店">绿色正规店&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="包吃住">包吃住<br>
                                    <input type="checkbox" name="company_special" value="店铺环境好">店铺环境好&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="人性化管理">人性化管理&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="免费培训">免费培训&nbsp;&nbsp;
                                    <input type="checkbox" name="company_special" value="客流量大">客流量大<br>
                                    <input type="checkbox" name="company_special" value="福利好">福利好&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">所在城市</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="province" id="province" onchange="loadRegion(this,'city')">
                                        <option value="">省</option>
                                    </select>
                                    <select class="form-control" name="city" id="city" onchange="loadRegion(this,'area')">
                                        <option value="">市</option>
                                    </select>
                                    <select class="form-control" name="area" id="area">
                                        <option value="">区</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">公司简介</label>
                                <div class="col-xs-8">
                                    <textarea name="company_info" class="form-control" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">公司Logo</label>
                                <div class="col-xs-8">
                                    <img src="" name="iconN" width="300px;">
                                    <input type="file" name="icon" id="icon">
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label class="col-xs-4 control-label">公司照片</label>
                                <div class="col-xs-8">
                                    <img src="" name="photoN" width="300px;">
                                    <input type="file" name="company_photo" id="company_photo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">x</label>
                                <div class="col-xs-8">
                                    <input type="text" name="company_addrx" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">y</label>
                                <div class="col-xs-8">
                                    <input type="text" name="company_addry" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">地址</label>
                                <div class="col-xs-8">
                                    <input type="text" name="company_addr" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">店铺类型</label>
                                <div class="col-xs-8">
                                    <select class="form-control" name="company_type" id="company_type">
                                        <option value="社区店">社区店</option>
                                        <option value="理疗店">理疗店</option>
                                        <option value="商务会所">商务会所</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary2">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>

</body>
</html>