
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <title>好技狮·您的好助手</title>
    <script src="/static/js/jQuery/jquery-3.2.1.js" th:src="@{/js/jQuery/jquery-3.2.1.js}"></script>
    <script src="/static/js/index/index.js" th:src="@{/js/index/index.js}"></script>
    <script src="/static/js/bootStrap/bootstrap.min.js" th:src="@{js/bootStrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index/index.css" th:href="@{/css/index/index.css}" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index/animation.css" th:href="@{/css/index/animation.css}" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootStrap/bootstrap.min.css" th:href="@{css/bootStrap/bootstrap.min.css}" charset="UTF-8"/>


</head>
<body>

<!-- 进入首页加载数据动画开始 -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
            <h5 class="text">正在为您加载数据，请稍等~~~</h5>
        </div>
    </div>
</div>
<!-- 进入首页加载数据动画结束 -->

<!-- 首页轮播图开始 -->
<div id="jumbotron">
    <div class="banner">
        <div class="container">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    </div>
                    <div class="item">
                        <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    </div>
                    <div class="item">
                        <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div>
<!-- 首页轮播图结束 -->

<!-- 首页导航列表开始 -->
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="kuaizhao">
                <a style="list-style:none">
                    <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    <em>快招服务</em>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="kuaizhao">
                <a style="list-style:none">
                    <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    <em>快招服务</em>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="kuaizhao">
                <a style="list-style:none">
                    <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    <em>快招服务</em>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="kuaizhao">
                <a style="list-style:none">
                    <img class="img-responsive" th:src="@{/image/pic.jpg}">
                    <em>快招服务</em>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 首页导航列表结束 -->

<!-- 推荐人才列表开始 -->
<div class="personal">
    <table class="table" id="sorter" border="2">
        <thead>
        <tr>
            <th colspan="4">推荐人才</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!--<div class="container">-->

    <!--<div class="row">-->
        <!--<div class="col-xs-3">-->

        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--&lt;!&ndash;<a style="list-style:none">&ndash;&gt;-->
                <!--<div class="weixiang">-->
                    <!--&lt;!&ndash;<img class="img-responsive" th:src="@{/image/pic.jpg}">&ndash;&gt;-->
                    <!--<em>微享自助</em>-->
                <!--</div>-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--&lt;!&ndash;<a style="list-style:none">&ndash;&gt;-->
                <!--<div class="wuyou">-->
                        <!--&lt;!&ndash;<img class="img-responsive" th:src="@{/image/pic.jpg}">&ndash;&gt;-->
                        <!--<em>无忧招聘</em>-->
                <!--</div>-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--&lt;!&ndash;<a style="list-style:none">&ndash;&gt;-->
                <!--<div class="zixun">-->
                        <!--&lt;!&ndash;<img class="img-responsive" th:src="@{/image/pic.jpg}">&ndash;&gt;-->
                        <!--<em>咨询预览</em>-->
                <!--</div>-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-12">横幅</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-6">信誉保障雇主</div>-->
        <!--<div class="col-xs-6">高端人才竞拍</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-12">推荐人才</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-12">人才信息</div>-->
    <!--</div>-->




    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-lg-3  col-md-3 col-sm-3  col-xs-3">-->
            <!--<a class="index_kuaizhao" style="list-style:none">-->
                <!--<li>-->
                    <!---->
                    <!--<em>快招服务</em>-->
                <!--</li>-->
            <!--</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; 导航 &ndash;&gt;-->
        <!--<div class="Dhang">-->
            <!--<ul>-->



                <!--<li class="shop" style="list-style:none">-->
                    <!--<img alt="无忧招聘" src="css/img/S.png">-->
                    <!--<em>无忧招聘</em>-->
                <!--</li>-->

                <!--<li class="shop" style="list-style:none">-->
                    <!--<img alt="咨询预览" src="css/img/S.png">-->
                    <!--<em>咨询预览</em>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash;推荐职位&ndash;&gt;-->
        <!--<div style="margin-top:2%;">-->
            <!--<p class="title">-->
                <!--<span>推荐职位</span>-->
                <!--<span id="morezhiwei">更多职位></span>-->
            <!--</p>-->
            <!--<ul id="list2" class="indextuijianinfo" data-role="listview">-->

            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; 推荐人才&ndash;&gt;-->
        <!--<div id="qiye">-->
            <!--<p class="title">-->
                <!--<span>推荐人才</span>-->
                <!--<span id="morerencai">更多人才></span>-->
            <!--</p>-->
            <!--<ul id="list1" class="indextuijianrencai" data-role="listview">-->
            <!--</ul>-->
        <!--</div>-->


    <!--</div>-->


<!--<div class="page">-->



    <!--<div>-->
    <!--&lt;!&ndash; 主体&ndash;&gt;-->
    <!--<section id="index">-->

    <!--</section>-->
    <!--&lt;!&ndash;<div data-role="footer" data-position="fixed">&ndash;&gt;-->
        <!--&lt;!&ndash;<footer>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="index_job">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="./css/img/icon_apply.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>找工作</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="index_zhaopin">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="./css/img/icon_recruit.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>招人才</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a>&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="./css/img/icon_home_activate.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<p style="color:#ff7131">首页</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->

            <!--&lt;!&ndash;<a class="message">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="./css/img/icon_message.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>消息&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="unread"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->

            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a id="logins">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="./css/img/icon_me.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>我的</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</footer>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div id="indextomessage" style="display: none;">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="duihuan_model">&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="index_duihuan_text">您需要登录才能使用此功能</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="indextoindex" data-role="none" style="border-right: 1px solid #f2f2f2;">稍后登录</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<a data-role="none">&ndash;&gt;-->
                <!--&lt;!&ndash;<button data-role="none" style="color: #ff6118;" id="indextomessage1">马上登录</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

</body>
</html>


