﻿<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>账号设置</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/person/css/response.css"
          th:href="@{/person/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/person/css/public.css"
          th:href="@{/person/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/person/css/xiangying.css"
          th:href="@{/person/css/xiangying.css}" rel="stylesheet" />
    <!-- 公用样式 结束 -->
    
    <link type="text/css" href="/static/person/css/common_problem/top.css" rel="stylesheet"
            th:href="@{/person/css/common_problem/top.css}" />
    <link type="text/css" href="/static/person/css/common_problem/cjwts.css" rel="stylesheet"
            th:href="@{/person/css/common_problem/cjwts.css}"/>

    <script type="text/javascript" src="/static/person/js/jquery-3.2.1.js"
            th:src="@{/person/js/jquery-3.2.1.js}" ></script>

    <script type="text/javascript">
        $(function () {

        })
        function goBack() {
            window.location.href="/transition/transition_goMySelf";
        }
    </script>

</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     账号设置
     <a href="#" class="zjtous" onclick="goBack()"><img src="/static/person/images/biao04.png" th:src="@{/person/images/biao04.png}"/></a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 <!--内容开始-->
  <div class="xgsjhoma">
    <ul>
      <li>
        <a href="#" class="clearfix">
          <div class="fl zbiuus01">修改手机</div>
          <div class="fr zbiuus02">153698887 <img src="/static/person/images/yjts.png" th:src="@{/person/images/yjts.png}" /></div>
        </a>
      </li>
      <li>
        <a href="#" class="clearfix">
          <div class="fl zbiuus01">修改密码</div>
          <div class="fr zbiuus02"><img src="/static/person/images/yjts.png" th:src="@{/person/images/yjts.png}" /></div>
        </a>
      </li>
    </ul>
    
  </div>
 <!--内容结束-->
 
  <!--退出登录开始-->
  <div class="tcdlyus">
    <a href="#" class="tcdlans">退出登录</a>
  </div>
  <!--退出登录结束-->
 
 
 
 

 

 
</body>
</html>








