<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>我的-投递记录</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="css/response.css" rel="stylesheet" />
    <link type="text/css" href="css/public.css" rel="stylesheet" />
    <link type="text/css" href="css/xiangying.css" rel="stylesheet" />
	<!-- 公用样式 结束 -->
    
    
    <link type="text/css" href="css/top.css" rel="stylesheet" />
    <link type="text/css" href="css/shoucang.css" rel="stylesheet" />
    
    <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
    
    
    
    
    

</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     投递记录
     <a href="#" class="zjtous"><img src="images/biao04.png" /></a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 
    <!--一块开始-->
    <div class="reconblock">
      <a href="#">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs">SPA技师</div>
        <div class="fr tdjilus">2018.03.20投递</div>
      </div>
      <!--职位结束-->
      <!--工资及年限开始-->
      <div class="wagesyears clearfix">
        <div class="fl wayealfs">7000-9000/月</div>
        <div class="fr wayefris">经验不限 | 35岁以下 | 仅限女</div>
      </div>
      <!--工资及年限结束-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <img src="images/tupian01.png" />
            <div class="yrzs"><img src="images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous tdljdws">
            <h1>常乐足道</h1>
            <p>单体店 | 1500㎡ | 杭州市 上城区</p>
            
            <div class="dwphones"><img src="images/dianh01.png" /></div>
            
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->
      </a>
    </div>
    <!--一块结束-->
    
 

    <!--一块开始-->
    <div class="reconblock">
      <a href="#">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs">SPA技师</div>
        <div class="fr tdjilus">2018.03.20投递</div>
      </div>
      <!--职位结束-->
      <!--工资及年限开始-->
      <div class="wagesyears clearfix">
        <div class="fl wayealfs">7000-9000/月</div>
        <div class="fr wayefris">经验不限 | 35岁以下 | 仅限女</div>
      </div>
      <!--工资及年限结束-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <img src="images/tupian01.png" />
            <div class="yrzs"><img src="images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous tdljdws">
            <h1>常乐足道</h1>
            <p>单体店 | 1500㎡ | 杭州市 上城区</p>
            
            <div class="dwphones"><img src="images/dianh02.png" /></div>
            
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->
      </a>
    </div>
    <!--一块结束-->


 
</body>
</html>








