<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>店铺端-我的-编辑店铺信息</title>
    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />


    <link type="text/css" href="/static/company/css/wo_de/top.css"
          th:href="@{/company/css/wo_de/top.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/jianli.css" th:href="@{/company/css/jianli.css}" rel="stylesheet" />

    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
    <script type="text/javascript" src="/static/company/js/bianji_dianpuxinxi/bjdpxx.js"
            th:src="@{/company/js/bianji_dianpuxinxi/bjdpxx.js}" ></script>
    <link rel="stylesheet" type="text/css" href="/static/company/css/zhu_ce_tian_xie_xin_xi/mobileSelect.css"
          th:href="@{/company/css/zhu_ce_tian_xie_xin_xi/mobileSelect.css}" />
    <script src="/static/company/js/zhu_ce_tian_xie_xin_xi/mobileSelect.js" type="text/javascript"
            th:src="@{/company/js/zhu_ce_tian_xie_xin_xi/mobileSelect.js}" ></script>
   
   <!--上传多张照片开始-->
<script src="/static/company/js/jquery-migrate-1.2.1.min.js" th:src="@{/company/js/jquery-migrate-1.2.1.min.js}"></script>

<link href="/static/company/css/IMGUP.css" th:src="@{/company/css/IMGUP.css}" rel="stylesheet" />
   <!--上传多张照片结束-->
   
   
</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
    编辑信息
     <a href="#" class="zjtous" onclick="window.location.href='/transition/go_wo_de';"><img src="/static/company/images/biao04.png" th:src="@{/company/images/biao04.png}"/></a>
    
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 

 
 
 <!--自我介绍开始-->
 <div class="zwjisss">
   <!--上开始-->
   <div class="stopsis" id="xgxm" onclick="bjxm()">
     <div class="zuoius01">您的姓名</div>
     <div class="zuoius02 xgxm" >王XXX </div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss"/>

   </div>
   <!--上结束-->
   <!--下开始-->
   <!--<a href="#">
   <div class="stopsis borderno">
     <div class="zuoius01">您的职位</div>
     <div class="zuoius02 xgzw">王XXX</div>
     <div class="zuoius03"><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss" /></div>
   </div>
   </a>-->
   <!--下结束-->
     <!--输入一块开始-->
     <div class="sryikuys clearfix">
         <!--左边开始-->
         <div class="fl zcsyks">您的职位</div>
         <!--左边结束-->

         <!--右边开始-->
         <div class="fr yogzztas">

             <!--选择职位开始-->
             <div class="xzzwis">
                 <div id="trigger2" class="zhiiis">选择职位</div>
                 <script type="text/javascript">

                     var weekdayArr2=['老板/投资人','店长','主管','经理','部长','大堂经理'];


                     var mobileSelect2 = new MobileSelect({
                         trigger: '#trigger2',
                         title: '',
                         wheels: [
                             {data: weekdayArr2}
                         ],
                         position:[2], //初始化定位 打开时默认选中的哪个 如果不填默认为0
                         transitionEnd:function(indexArr, data){
                             console.log(data+"----1-----"+indexArr);
                         },
                         callback:function(indexArr, data){
                             console.log(data+"----2-----"+indexArr);
                             sessionStorage.setItem("xgzw",data);
                         }
                     });
                 </script>
             </div> <img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss" />
             <!--选择职位结束-->

         </div>
         <!--右边结束-->
     </div>
     <!--输入一块结束-->
 </div>
 <!--自我介绍结束-->
 
 <!--店铺信息开始-->
 <div class="zwjisss">
   
 
   
   <!--店铺log开始-->
   <a href="#" onclick="xgLogo()">
     <div class="sryikuys borxboms clearfix">
         <!--左边开始-->
         <div class="fl zcsyks">店铺logo</div>
         <!--左边结束-->
         <!--右边开始-->
         <div class="fr youkuiss wtxyss xgLogog">
          上传店铺logo，提升企业形象
         </div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss "/>
         <!--右边结束-->
         
     </div>
   </a>
   <!--店铺log结束-->
   
   <!--店铺名称开始-->
   <a href="#" onclick="xgdpmc()">
   <div class="stopsis">
     <div class="zuoius01">店铺名称</div>
     <div class="zuoius02 xgdpmc">常乐足道</div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss " />

   </div>
   </a>
   <!--店铺名称结束-->
   
   <!--店铺面积开始-->
   <a href="#" onclick="xgdpmj()">
   <div class="stopsis">
     <div class="zuoius01">店铺面积</div>
     <div class="zuoius02 xgdpmj">150平米</div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss " />

   </div>
   </a>
   <!--店铺面积结束-->
   
   <!--店铺类型开始-->
  <!-- <a href="#">
   <div class="stopsis">
     <div class="zuoius01">店铺类型</div>
     <div class="zuoius02 xgdplx">商务会所</div>
     <div class="zuoius03"><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss" /></div>
   </div>
   </a>-->
   <!--店铺类型结束-->
     <!--店铺类型开始-->
     <div class="sryikuys borxboms clearfix">
         <!--左边开始-->
         <div class="fl zcsyks">店铺类型</div>
         <!--左边结束-->

         <!--右边开始-->
         <div class="fr yogzztas">

             <!--选择职位开始-->
             <div class="xzzwis">
                 <div id="trigger3" class="zhiiis">店铺类型</div>
                 <script type="text/javascript">

                     var weekdayArr3=['社区店','足浴店','养生馆','高端会所','大型水会','其他'];


                     var mobileSelect3 = new MobileSelect({
                         trigger: '#trigger3',
                         title: '',
                         wheels: [
                             {data: weekdayArr3}
                         ],
                         position:[2], //初始化定位 打开时默认选中的哪个 如果不填默认为0
                         transitionEnd:function(indexArr, data){
                             console.log(data);
                         },
                         callback:function(indexArr, data){
                             console.log(data);
                             sessionStorage.setItem("xgdplx",data);
                         }
                     });


                 </script>
             </div> <img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss" />
             <!--选择职位结束-->

         </div>
         <!--右边结束-->
     </div>
     <!--店铺类型结束-->
   
   <!--店铺福利开始-->
   <a href="#" onclick="xgdpfl()">
   <div class="stopsis">
     <div class="zuoius01">店铺福利</div>
     <div class="zuoius02 xgdpfl">老板大方/人性化管理/规范化</div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss " />

   </div>
   </a>
   <!--店铺福利结束-->
   
   <!--店铺地址开始-->
   <a href="#" onclick="xgdpdz()">
   <div class="stopsis">
     <div class="zuoius01">店铺地址</div>
     <div class="zuoius02 xgdpdz">河北省石家庄市长安区</div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss " />
   </div>
   </a>
   <!--店铺地址结束-->
   
   <!--店铺简介开始-->
   <a href="#" onclick="xgdpjj()">
   <div class="stopsis borderno">
     <div class="zuoius01">店铺简介</div>
     <div class="zuoius02 wtxyss xgjj">完善店铺简介，招聘效果提升50%</div><img src="/static/company/images/yjts.png" th:src="@{/company/images/yjts.png}" class="yjtiss " />
   </div>
   </a>
   <!--店铺简介结束-->
   
   
 </div>
 <!--店铺信息结束-->
 


  
  <!--个人形象开始-->
  <div class="grxxians">
    <!--标题开始-->
    <div class="grxxtits">
     店铺照片
    </div>
    <!--标题结束-->
    
    <!--副标题开始-->
     <div class="fbits wtxyss">上传5张店铺照片，招聘效果提升100%</div>
    <!--副标题结束-->
    
    <!--上传多张照片开始-->
        <div class="clearfix">
            <div id="div_imglook" class="fl">
                <div style="clear: both;"></div>
            </div>
            <div id="div_imgfile" class="fl"><img src="/static/company/images/jiatup.png" th:src="@{/company/images/jiatup.png}" /></div>
        </div>
        <script src="/static/company/js/IMGUP.js" th:src="@{/company/js/IMGUP.js}" ></script>
    <!--上传多张照片结束-->    
    
  </div>
  <!--个人形象结束-->

 <!--最底部开始-->
 <div class="zdbomtys">
   <a href="#" class="ysbgui001">预览</a>
   <a href="#" class="ysbgui002">保存</a>
 </div>
 <!--最底部结束-->
 
 
</body>
</html>








