<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>快招服务</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />
	<!-- 公用样式 结束 -->
    
    <link type="text/css" href="/static/company/css/kuai_zhao/top.css"
          th:href="@{/company/css/kuai_zhao/top.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/kuai_zhao/kzfwu.css"
          th:href="@{/company/css/kuai_zhao/kzfwu.css}" rel="stylesheet" />


    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
    <script type="text/javascript" src="/static/company/js/kuai_zhao/kzfwus.js"
            th:src="@{/company/js/kuai_zhao/kzfwus.js}" ></script>
    


</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     开通快招服务
     <a href="#" class="zjtous" onclick="goBack()"><img src="/static/company/images/biao04.png" th:src="@{/company/images/biao04.png}"/></a>
     <a href="#" class="bzhixin"><img src="/static/company/images/wenhaobz.png" th:src="@{/company/images/wenhaobz.png}"/></a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 <!--最上边开始-->
 <div class="ktkztop">
   <!--左边开始-->
   <div class="ktfwslfs">
     <img src="/static/company/images/kzfwus.png" th:src="@{/company/images/kzfwus.png}"/>
   </div>
   <!--左边结束-->
   <!--右边开始-->
   <div class="ktwfyous">
     <h1>好技狮快招服务</h1>
     <p>
       开通好技狮快招服务可以直接拨打求职者电话，不用再坐等人才给您投简历，主动出击，招人才更快速！
     </p>
   </div>
   <!--右边结束-->
 </div>
 <!--最上边结束-->

<!--选择服务开始-->
<div class="acsjfiws">
   <ul>
   <!--标题开始-->
     <p class="bortombs actiuys">按次数计费</p>
   <!--标题结束-->
 
   <!--一块开始-->
   <li class="publblk">
     <!--里边开始-->
      <div class="bortombs publkinto">
        <!--左开始-->
        <div class="botezuob">
          <h2>150次急速拨打电话卡</h2>
          <p>购买后可直接电话联系150位人才，不限期！</p>
        </div>
        <!--左结束-->
        <!--右开始-->
        <div class="btoyousc">
          398元
        </div>
        <!--右结束-->
      </div>
     <!--里边结束-->
   </li>
   <!--一块结束-->
   
   <!--一块开始-->
   <li class="publblk">
     <!--里边开始-->
      <div class="bortombs publkinto">
        <!--左开始-->
        <div class="botezuob">
          <h2>200次急速拨打电话卡</h2>
          <p>购买后可直接电话联系200位人才，不限期！</p>
        </div>
        <!--左结束-->
        <!--右开始-->
        <div class="btoyousc">
          398元
        </div>
        <!--右结束-->
      </div>
     <!--里边结束-->
   </li>
   <!--一块结束-->
   
   
   <!--一块开始-->
   <li class="publblk">
     <!--里边开始-->
      <div class="publkinto">
        <!--左开始-->
        <div class="botezuob">
          <h2>300次急速拨打电话卡</h2>
          <p>购买后可直接电话联系300位人才，不限期！</p>
        </div>
        <!--左结束-->
        <!--右开始-->
        <div class="btoyousc">
          398元
        </div>
        <!--右结束-->
      </div>
     <!--里边结束-->
   </li>

   <!--标题开始-->
     <p class="bortombs actiuys">按时间计费</p>
   <!--标题结束-->
   
   <!--一块开始-->
   <li class="publblk">
     <!--里边开始-->
      <div class="bortombs publkinto">
        <!--左开始-->
        <div class="botezuob">
          <h2>季度卡</h2>
          <p>购买后电话联系人才不限量(自购买起90天内)</p>
        </div>
        <!--左结束-->
        <!--右开始-->
        <div class="btoyousc">
          398元
        </div>
        <!--右结束-->
      </div>
     <!--里边结束-->
   </li>
   <!--一块结束-->
   
   <!--一块开始-->
   <li class="publblk">
     <!--里边开始-->
      <div class="bortombs publkinto">
        <!--左开始-->
        <div class="botezuob">
          <h2>半年卡</h2>
          <p>购买后电话联系人才不限量(自购买起180天内)</p>
        </div>
        <!--左结束-->
        <!--右开始-->
        <div class="btoyousc">
          398元
        </div>
        <!--右结束-->
      </div>
     <!--里边结束-->
   </li>
   <!--一块结束-->
   
   
   <!--一块开始-->
   <li class="publblk">
     <!--里边开始-->
      <div class="publkinto">
        <!--左开始-->
        <div class="botezuob">
          <h2>全年卡</h2>
          <p>购买后电话联系人才不限量(自购买起365天内)</p>
        </div>
        <!--左结束-->
        <!--右开始-->
        <div class="btoyousc">
          398元
        </div>
        <!--右结束-->
      </div>
     <!--里边结束-->
   </li>
   <!--一块结束-->
 </ul>

</div>
<!--选择服务结束-->

<!--立即支付开始-->
<div class="ljzfius">
  <a href="#" class="ljfzys">立即支付</a>
</div>
<!--立即支付结束-->
 
 
  <!--弹出层开始-->
  <div class="popupus">
    <!--里边开始-->
    <div class="pupuinto">
      <div class="lbyis">
        <h1>温馨提示</h1>
        <p>您已经购买好技狮按次数计费卡，在剩余次数使用完之前，您不能购买按时间计费卡。</p>
        <ul>
          <li class="wzkljgz02"><a href="#">我知道了</a></li>
        </ul>
      </div>
    </div>
    <!--里边结束-->
  </div>
  <!--弹出层结束-->
 
</body>
</html>








