<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>店铺端-我的-职位管理-未认证时</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="css/response.css" rel="stylesheet" />
    <link type="text/css" href="css/public.css" rel="stylesheet" />
    <link type="text/css" href="css/xiangying.css" rel="stylesheet" />
	<!-- 公用样式 结束 -->
    
    <link type="text/css" href="css/top.css" rel="stylesheet" />
    <link type="text/css" href="css/zwglis.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.10.2.js" /></script>
    <script type="text/javascript" src="js/zwglis.js" /></script>
     

</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     职位管理
     <a href="#" class="zjtous"><img src="images/biao04.png" /></a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 
 <!--最上边开始-->
 <div class="zwgltops">
   <!--左边开始-->
   <div class="zwlfius01"><img src="images/iconn001.png" /></div>
   <!--左边结束-->
   <!--右边开始-->
   <div class="zwlfius02">
     职位上线后才可以被求职者看到，您需要完成店铺资质认证后，才可以上线职位！
   </div>
   <!--右边结束-->
 </div>
 <!--最上边结束-->
 

 <!--一块开始-->
 <div class="ykuissws">
   <!--上开始-->
    <div class="sbxxuys">
      <div class="dybuzs01 clearfix">
        <div class="fl sbtus01">SPA技师</div>
        <div class="fr sbtus03">等待上线</div>
      </div>
      <div class="dybuzs02">
        <div class="dypui001">7000-9000/月</div>
        <div class="dypui002">经验不限 | 35岁以下 | 仅限女</div>
      </div>
      <div class="dybuzs03">
        <ul>
          <li><span>曝光量</span> <b>2520</b></li>
          <li><span>访问量</span> <b>2520</b></li>
          <li><span>分享访问量</span> <b>2520</b></li>
          <li><span>投递简历</span> <b>2520</b></li>
        </ul>
      </div>
    </div>
   <!--上结束-->
   
   <!--下开始-->
   <div class="xkasius">
     <a href="#"><img src="images/iconn005.png" /> 上线</a>
     <a href="#"><img src="images/iconn004.png" /> 编辑</a>
   </div>
   <!--下结束-->
   
 </div>
 <!--一块结束-->



 <!--一块开始-->
 <div class="ykuissws">
   <!--上开始-->
    <div class="sbxxuys">
      <div class="dybuzs01 clearfix">
        <div class="fl sbtus01">SPA技师</div>
        <div class="fr sbtus04">审核失败</div>
      </div>
      <div class="dybuzs02">
        <div class="dypui001">7000-9000/月</div>
        <div class="dypui002">经验不限 | 35岁以下 | 仅限女</div>
      </div>
      <div class="dybuzs03">
        <ul>
          <li><span>曝光量</span> <b>2520</b></li>
          <li><span>访问量</span> <b>2520</b></li>
          <li><span>分享访问量</span> <b>2520</b></li>
          <li><span>投递简历</span> <b>2520</b></li>
        </ul>
      </div>
    </div>
   <!--上结束-->
   
   <!--下开始-->
   <div class="xkasius">
     <a href="#"><img src="images/iconn006.png" /> 删除</a>
   </div>
   <!--下结束-->
   
 </div>
 <!--一块结束-->
 
 <!--添加新职位开始-->
 <div class="bcanius">
   <a href="#" class="bcnois">添加新职位</a>
 </div>
 <!--添加新职位结束-->

 
  <!--弹出层开始-->
  <div class="popupus">
    <!--里边开始-->
    <div class="pupuinto">
      <div class="lbyis">
        <h1>温馨提示</h1>
        <p>您的店铺还未通过资质认证，需要完成店铺资质认证后，您才可以成功发布（上线）职位！</p>
        <ul>
          <li class="wzkljgz01"><a href="#">我再看看</a></li>
          <li class="wzkljgz02"><a href="#">去认证</a></li>
        </ul>
      </div>
    </div>
    <!--里边结束-->
  </div>
  <!--弹出层结束-->

 
</body>
</html>








