<!doctype html>
<html    xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>店铺端-编辑职位名称</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />
	<!-- 公用样式 结束 -->

    <link type="text/css" href="/static/company/css/wo_de/top.css"
          th:href="@{/company/css/wo_de/top.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/wo_de/wodedh.css"
           th:href="@{/company/css/wo_de/wodedh.css}" rel="stylesheet" />


    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
    
    <script type="text/javascript">
    
    //字数限制
    window.onload = function() {
        //（document）
        document.getElementById('note').onkeyup = function() {        
            document.getElementById('text-count').innerHTML=this.value.length;
        }
    //（jquery）
        $('#note2').keyup(function() {
        //    var val=$('#note2').val();
        //    var len=val.length;
        var len=this.value.length
                    $('#text-count2').text(len);

        })
    }
   </script>

</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     编辑职位名称
     <a href="#" class="zjtous" onclick="window.location.href='/transition/bianji_zhiwei';"><img src="/static/company/images/biao04.png" th:src="@{/company/images/biao04.png}"/></a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 <!--内容开始-->
 <div class="dlsryshi">
   <input type="text" id="note" name="note" maxlength="7" value="" class="srdziss02" onkeyup="this.value=this.value.substring(0, 7)" placeholder="最多7个字" />
 </div>
 
 
 <!--温馨提示开始-->
 <div class="wxtsis">
   <h1>温馨提示</h1>
   <p>
     职位名称中严谨出现大项、中项、KB、ST、水磨等相关词汇，如故意绕开平台发布违禁内容，我们将会封禁您在好技狮平台的账号，并保留诉诸法律解决的权利！
   </p>
 </div>
 <!--温馨提示结束-->
 
 
 <div class="bcanius">
   <a href="#" class="bcnois" onclick="zwmcbaocun()">保存</a>
 </div>
 
 <!--内容结束-->
 <script>
     function zwmcbaocun() {
         sessionStorage.setItem("zwmc",$("#note").val());
         window.location.href='/transition/bianji_zhiwei';
     }
 </script>
 

 
</body>
</html>








