<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>店铺端-分享页-职位</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />
    <!-- 公用样式 结束 -->

    <link type="text/css" href="/static/company/css/xiangqing02.css" th:href="@{/company/css/xiangqing02.css}" rel="stylesheet" />

    

</head>
<body>
 
 <!--头部开始-->
 <div class="tbxxssid">
   <div class="tbzxzuo001">
     <h1>精准 靠谱 高效</h1>
     <p>好技狮专注沐浴养生行业招聘服务</p>
   </div>
   
   <div class="tbzxzuo002">
     <a href="#">我要招人</a>
   </div>
 </div>
 <!--头部结束-->
 
 
 <!--上边内容开始-->
 <div class="sbnecont">
   <!--上开始-->
   <div class="sbontshs">
      <!--职位开始-->
      <div class="respise clearfix">
        <div class="fl reselefs">SPA技师</div>
        <div class="fr reseyous"><span class="yse01">急聘</span> <span class="yse02">热度2599</span></div>
      </div>
      <!--职位结束-->
      <!--工资开始-->
      <div class="gonzis">7000-9000/月</div>
      <!--工资结束-->
      
      <!--要求开始-->
      <div class="yaoqius">
        经验不限 | 35岁以下 | 仅限女
      </div>
      <!--要求结束-->
      
      <!--待遇开始-->
      <div class="daiyus">
        <span>包吃包住</span>
        <span>四六分成</span>
        <span>四六分成</span>
      </div>
      <!--待遇结束-->
   </div>
   <!--上结束-->
   
   <!--下开始-->
      <!--公司名称地址开始-->
        <div class="corpnames">
          <!--左边开始-->
          <div class="corpzuos">
            <img src="images/tupiaius.png" />
            <div class="yrzs"><img src="images/biao02.png" /></div>
          </div>
          <!--左边结束-->
          <!--右边开始-->
          <div class="corpryous">
            <h1>常乐足道</h1>
            <p>单体店 | 1500㎡ | 杭州市 上城区</p>
            <img src="images/yjts.png" class="jtois" />
          </div>
          <!--右边结束-->
        </div>
      <!--公司名称地址结束-->   
    <!--下结束-->

 </div>
 <!--上边内容结束-->
 
 <!--职位详情开始-->
 <div class="zwxqius">
   <!--标题开始-->
   <div class="zwxtits">职位详情</div>
   <!--标题结束-->
   <!--内容开始-->
   <div class="zwqxconts">
     1.负责为Spa客人提供专业的理疗服务。<br>
     2.负责为Spa客人提供专业的理疗服务。
   </div>
   <!--内容结束-->
   
 </div>
 <!--职位详情结束-->
 
 <!--店铺地址开始-->
 <div class="dpudzhis">
   <!--标题开始-->
   <div class="zwxtits">店铺地址</div>
   <!--标题结束-->
   <!--内容开始-->
    <a href="#">
      <div class="dpuzhids">
        <div class="dzlefs">石家庄广安大街5号驿家365快捷酒店3楼</div>
        <div class="dzyous"><img src="images/yjts.png" /></div>
      </div>
    </a>
   <!--内容结束-->
 </div>
 <!--店铺地址结束-->
 
 

 <!--最底部开始-->
 <div class="zdbomtys">
   <a href="#" class="ysbgui001">联系TA</a>
   <a href="#" class="ysbgui002">我要应聘</a>
 </div>
 <!--最底部结束-->

 
</body>
</html>








