@charset "utf-8";
/* CSS Document */
body{ background:#f7f7f7;}


/*上边开始*/
.sbjltitis{ background:#fff; padding:1rem 1.2rem 1rem 1.2rem; margin-top:0.7rem;}
  
  /*上开始*/
  .sbtopxxs{ border-bottom:1px dashed #ebebeb; display:box; display:-webkit-box; display:-moz-box; padding:0.3rem 0 1.2rem 0;}
     /*左开始*/
	 .sblefs{ width:6.2rem;}
	   .sblefs img{ width:100%; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
	 /*左结束*/
	 
	 /*右开始*/
	 .sbyours{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; padding-left:1rem;}
	 
	 .lylyus,.lylyus02{font-size:1.6rem; color:#404040;}
	  .lylyus span{ display:inline-block; vertical-align:middle; background:#e4f7ff; border:1px solid #00c1ff; color:#00c1ff; font-size:1.1rem; border-radius:3px; padding:0 3px 0 3px; font-weight:bold;}
	  
	  .lylyus02 span{ display:inline-block; vertical-align:middle; background:#ffebf2; border:1px solid #FF5592; color:#FF5592; font-size:1.1rem; border-radius:3px; padding:0 3px 0 3px; font-weight:bold;}
	  
	  .lylyus span img,.lylyus02 span img{ width:1.3rem; vertical-align:middle; font-weight:normal;}
	  
	  .grxhzls{font-size:14px; color:#9E9E9E; padding-top:13px;}
	 
	 /*右结束*/
	 
  /*上结束*/
  
  /*下开始*/
  .xibkass{ display:box; display:-webkit-box; display:-moz-box; padding:1.1rem 0 0.3rem 0; position:relative;}
    .ycbuyss{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; font-size:1.4rem; color:#9E9E9E; padding:1rem 0 0 1rem;}
     
	 .ycjtouis{ position:absolute; right:0; top:2.2rem;}
	  .ycjtouis img{ width:0.7rem;}
  /*下结束*/
  
/*上边结束*/




/*圆形进度开始*/
.progressbar {
  line-height: 44px; 
  width: 44px; display: block; 
  background: url(../../images/progressbar.png);
  height: 44px; 
  font-family: "微软雅黑";
  font-size: 11px;
  color:#83a700;
  text-align: center;
}
.progressbar-1 {background-position: 0px 0px;}
.progressbar-2 {background-position: -54px 0px;}
.progressbar-3 {background-position: -108px 0px;}
.progressbar-4 {background-position: -162px 0px;}
.progressbar-5 {background-position: -216px 0px;}
.progressbar-6 {background-position: -270px 0px;}
.progressbar-7 {background-position: -324px 0px;}
.progressbar-8 {background-position: -378px 0px;}
.progressbar-9 {background-position: -432px 0px;}
.progressbar-10 {background-position: -486px 0px;}
.progressbar-11 {background-position: -540px 0px;}
.progressbar-12 {background-position: -594px 0px;}
.progressbar-13 {background-position: -648px 0px;}
.progressbar-14 {background-position: -702px 0px;}
.progressbar-15 {background-position: -756px 0px;}
.progressbar-16 {background-position: -810px 0px;}
.progressbar-17 {background-position: -864px 0px;}
.progressbar-18 {background-position: -918px 0px;}
.progressbar-19 {background-position: -972px 0px;}
.progressbar-20 {background-position: -1026px 0px;}
.progressbar-21 {background-position: -1080px 0px;}
.progressbar-22 {background-position: -1134px 0px;}
.progressbar-23 {background-position: -1188px 0px;}
.progressbar-24 {background-position: -1242px 0px;}
.progressbar-25 {background-position: -1296px 0px;}
.progressbar-26 {background-position: -1350px 0px;}
.progressbar-27 {background-position: -1404px 0px;}
.progressbar-28 {background-position: -1458px 0px;}
.progressbar-29 {background-position: -1512px 0px;}
.progressbar-30 {background-position: -1566px 0px;}
.progressbar-31 {background-position: -1620px 0px;}
.progressbar-32 {background-position: -1674px 0px;}
.progressbar-33 {background-position: -1728px 0px;}
.progressbar-34 {background-position: -1782px 0px;}
.progressbar-35 {background-position: -1836px 0px;}
.progressbar-36 {background-position: -1890px 0px;}
.progressbar-37 {background-position: -1944px 0px;}
.progressbar-38 {background-position: -1998px 0px;}
.progressbar-39 {background-position: -2052px 0px;}
.progressbar-40 {background-position: -2106px 0px;}
.progressbar-41 {background-position: -2160px 0px;}
.progressbar-42 {background-position: -2214px 0px;}
.progressbar-43 {background-position: -2268px 0px;}
.progressbar-44 {background-position: -2322px 0px;}
.progressbar-45 {background-position: -2376px 0px;}
.progressbar-46 {background-position: -2430px 0px;}
.progressbar-47 {background-position: -2484px 0px;}
.progressbar-48 {background-position: -2538px 0px;}
.progressbar-49 {background-position: -2592px 0px;}
.progressbar-50 {background-position: -2700px 0px;}
.progressbar-51 {background-position: -2754px 0px;}
.progressbar-52 {background-position: -2808px 0px;}
.progressbar-53 {background-position: -2862px 0px;}
.progressbar-54 {background-position: -2916px 0px;}
.progressbar-55 {background-position: -2970px 0px;}
.progressbar-56 {background-position: -3024px 0px;}
.progressbar-57 {background-position: -3078px 0px;}
.progressbar-58 {background-position: -3132px 0px;}
.progressbar-59 {background-position: -3186px 0px;}
.progressbar-60 {background-position: -3240px 0px;}
.progressbar-61 {background-position: -3294px 0px;}
.progressbar-62 {background-position: -3348px 0px;}
.progressbar-63 {background-position: -3402px 0px;}
.progressbar-64 {background-position: -3456px 0px;}
.progressbar-65 {background-position: -3510px 0px;}
.progressbar-66 {background-position: -3564px 0px;}
.progressbar-67 {background-position: -3618px 0px;}
.progressbar-68 {background-position: -3672px 0px;}
.progressbar-69 {background-position: -3726px 0px;}
.progressbar-70 {background-position: -3780px 0px;}
.progressbar-71 {background-position: -3834px 0px;}
.progressbar-72 {background-position: -3888px 0px;}
.progressbar-73 {background-position: -3942px 0px;}
.progressbar-74 {background-position: -3996px 0px;}
.progressbar-75 {background-position: -4050px 0px;}
.progressbar-76 {background-position: -4104px 0px;}
.progressbar-77 {background-position: -4158px 0px;}
.progressbar-78 {background-position: -4212px 0px;}
.progressbar-79 {background-position: -4266px 0px;}
.progressbar-80 {background-position: -4320px 0px;}
.progressbar-81 {background-position: -4376px 0px;}
.progressbar-82 {background-position: -4428px 0px;}
.progressbar-83 {background-position: -4482px 0px;}
.progressbar-84 {background-position: -4536px 0px;}
.progressbar-85 {background-position: -4590px 0px;}
.progressbar-86 {background-position: -4644px 0px;}
.progressbar-87 {background-position: -4698px 0px;}
.progressbar-88 {background-position: -4752px 0px;}
.progressbar-89 {background-position: -4806px 0px;}
.progressbar-90 {background-position: -4860px 0px;}
.progressbar-91 {background-position: -4914px 0px;}
.progressbar-92 {background-position: -4968px 0px;}
.progressbar-93 {background-position: -5022px 0px;}
.progressbar-94 {background-position: -5076px 0px;}
.progressbar-95 {background-position: -5130px 0px;}
.progressbar-96 {background-position: -5184px 0px;}
.progressbar-97 {background-position: -5238px 0px;}
.progressbar-98 {background-position: -5292px 0px;}
.progressbar-99 {background-position: -5346px 0px;}
.progressbar-100 {background-position: -5400px 0px;}
/*圆形进度结束*/


/*一块开始*/

.dyikuys{ background:#fff; padding:0 0 0 1.2rem; margin-top:0.8rem;}
  .borderbom{ border-bottom:1px solid #ebebeb;}
    .dyikuys ul li{ padding:1rem 0 1rem 0;}
	.dyikuys ul li a{ display:block; font-size:1.6rem; color:#404040;}
	.dyikuys ul li a.fl img{ width:2.1rem; vertical-align:middle; margin-right:6px;}
    .dyikuys ul li a.fr{ padding:0.1rem 1.2rem 0 0; font-size:1.4rem; color:#9E9E9E;}
	.dyikuys ul li a.fr img{width:0.7rem; vertical-align:middle; margin-left:4px;}
/*一块结束*/







/*弹出层开始*/

.popupus{ position:fixed; width:100%; height:100%; background:url(../../images/tcbg.png); left:0; top:0; z-index:1000;}
   
   /*里边开始*/
   .pupuinto{ width:100%; height:100%; position:relative;}
     
	 .lbyis{ position:absolute; width:70%; left:15%; top:25%; background:#fff; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
	   
	   .lbyis h1{ text-align:center; font-weight:bold; padding:1.2rem 0 0.5rem 0;}
	    .lbyis h1 img{ width:7rem;}
		.lbyis h2{font-size:1.6rem; color:#404040; text-align:center; padding-bottom:0.5rem;}
	    .lbyis p{font-size:1.4rem; color:#404040; text-align:center; padding:1rem 1.2rem 1.8rem 1.2rem;}
	   
	   .lbyis ul{display:box; display:-webkit-box; display:-moz-box; border-top:1px solid #dbdbdb;}
	   .lbyis ul li{box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; font-size:1.6rem; color:#FF6118; text-align:center; padding:1rem 0 1rem 0;}
	   .lbyis ul li a{ color:#FF6118;}
	   
	   .lbyis ul li.wzkljgz01{ border-right:1px solid #dbdbdb;}
	   
   /*里边结束*/
   
/*弹出层结束*/


.dcirzs{ padding-top:8px;}
 .dcirzs a{ display:inline-block; background:#F2F2F2; border-radius:3.2rem; -moz-border-radius:3.2rem; -webkit-border-radius:3.2rem; font-size:1.2rem; color:#9E9E9E; padding:3px 12px 3px 12px;}

.fbzhiuse{ position:relative;}
  .fbzuysew{ display:block; position:absolute; right:0; top:1rem; border:0; background:#FF6118; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; font-size:1.2rem; color:#FFFFFF; padding:5px 13px 5px 13px;}

.ciniso{ display:inline-block; vertical-align:middle; text-align:right; padding-right:1rem;}

.zcuyys0{ padding-top:1rem;}



.bounone{ border:0;}


.dlzces{ display:block; font-size:1.6rem; color:#404040; padding-top:1.8rem; font-weight:bold;}



.yrziis a{ display:inline-block; background:#7ed321; border-radius:3.2rem; -moz-border-radius:3.2rem; -webkit-border-radius:3.2rem; font-size:1.2rem; color:#fff; padding:3px 12px 3px 12px;}



