<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>委托招聘</title>

    <!-- 公用样式 开始 -->
    <link type="text/css" href="/static/company/css/response.css"
          th:href="@{/company/css/response.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/public.css"
          th:href="@{/company/css/public.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/xiangying.css"
          th:href="@{/company/css/xiangying.css}" rel="stylesheet" />
    <!-- 公用样式 结束 -->
    
    <link type="text/css" href="/static/company/css/wei_tuo_zhao_pin/top.css"
          th:href="@{/company/css/wei_tuo_zhao_pin/top.css}" rel="stylesheet" />
    <link type="text/css" href="/static/company/css/wei_tuo_zhao_pin/zxxqin.css"
          th:href="@{/company/css/wei_tuo_zhao_pin/zxxqin.css}" rel="stylesheet" />
    <script type="text/javascript" src="/static/company/js/jquery-3.2.1.js"
            th:src="@{/company/js/jquery-3.2.1.js}" ></script>
    <script type="text/javascript">
        function goBack() {
            window.location.href="/transition/go_company_index"
        }
        function goKaiTongWeiTuo() {
            window.location.href="/transition/go_kai_tong_wei_tuo"
        }
    </script>
    

</head>
<body>
 
 <!--头部开始-->
 <div class="topbus">
   <!--里边开始-->
   <div class="tbusinto">
     人才招聘顾问
     <a href="#" class="zjtous" onclick="goBack()"><img src="/static/company/images/biao04.png" th:src="@{/company/images/biao04.png}"/></a>
   </div>
   <!--里边结束-->
 </div>
 <!--头部结束-->
 
 <!--大标题开始-->
 <div class="dbtutits">
  保健须知：SPA好处多，做SPA之前您需要了解的知识？
 </div>
 <!--大标题结束-->
 
 <!--大图开始-->
 <div class="dtupss">
   <img src="images/tupyis02.png" />
 </div>
 <!--大图结束-->
 
 

   <h1 class="clsiius01">1.什么是SPA？</h1>
   <p class="clsiius02">
           如果在几年前，国人中几乎没有谁知道它为何物。即便是有人曾经听说过，但也只是似懂非懂，不知所以然。而现在你只要看看街上如雨后春笋般开起来的 SPA馆以及美容院广告里打出的招牌项目全是SPA，它的热度一浪高过一浪，即便你不懂，难道不想去尝试尝试吗？记者曾对二十多位热衷于美容保养的海口女性做过调查，调查显示，仅有六位做过SPA，其他人对它的了解知之甚少，但却有强烈了解并尝试的愿望。为此，记者对SPA这种最新最热的美容方式进行了一番全面的调查，力图让你能够全方位的了解它。
   </p>
   
   <h1 class="clsiius01">2.目前最受欢迎的SPA有哪些？</h1>
   <p class="clsiius02">
    目前SPA有好几种，有度假式SPA、酒店式SPA和都会SPA等，而最方便又最受欢迎的莫过于都会SPA了。设在城市中的都会SPA，能够以数小时的时间，快速达到呵护肌肤、身材和舒适身心的效果，满足都市人美疗减压的渴望。目前海口大多的SPA馆也是都市型的。
   </p>
   <p class="clsiius02">
    目前SPA有好几种，有度假式SPA、酒店式SPA和都会SPA等，而最方便又最受欢迎的莫过于都会SPA了。设在城市中的都会SPA，能够以数小时的时间，快速达到呵护肌肤、身材和舒适身心的效果，满足都市人美疗减压的渴望。目前海口大多的SPA馆也是都市型的。
   </p>

  
   <h1 class="clsiius01">3.做SPA要注意什么？</h1>
   <p class="clsiius02">
     要想得到正规完美的SPA疗程，你首先要考虑选择一家专业性强的美容机构。据业内人士介绍，一家美容院提供SPA服务所必备的常规仪器及设备主要有可瘦身瘦脸的美体雕塑仪和能量共振仪、排毒美白及促进血液循环的海藻敷体机与太空舱、利用热效应活化身体组织的远近红外线美体仪等。
   </p>
   
   
   <!--最底部开始-->
   <div class="zdiuoys"><img src="/static/company/images/wan.png" th:src="@{/company/images/wan.png}"/></div>
   
   <!--最底部结束-->
  
 <!--最底部开始-->
 <div class="zdbomtys">
   <a href="tel:15558026165" class="ysbgui001 lskfuus"><img src="/static/company/images/lxkfs.png" th:src="@{/company/images/lxkfs.png}"/>联系客服</a>
   <a href="#" class="ysbgui002" onclick="goKaiTongWeiTuo()">立即开通</a>
 </div>
 <!--最底部结束-->
 
 
</body>
</html>








