@charset "utf-8";
/* CSS Document */

body{background:#f7f7f7;}

/*单行输入样式开始*/
.dhysnrs{background:#fff; padding:0 1.2rem 0 1.2rem; margin-top:1rem;}
  
  .sjkyus{ border:0; background:#fff; padding:1rem 0 1rem 0; font-size:1.6rem; color:#404040;}
  


  
/*单行输入样式结束*/

/*多行输入样式开始*/
.dlsryshi{ background:#fff; padding:1rem 1.2rem 1rem 1.2rem; margin-top:1rem;}
  .srdziss{ width:100%; background:#fff; border:0; display:block; font-size:1.6rem; color:#404040; height:11rem;}
  
  .ysiisr{ padding-top:1rem; font-size:1.2rem; color:#9E9E9E;}
  
  
  .bhxners{  font-size:1.4rem; text-align:center; color:#9E9E9E; padding-top:3rem;}
  .bhxners a{ color:#9E9E9E;}

/*多行输入样式结束*/




  
  
  .bcanius{ position:fixed; bottom:0; left:0; width:100%;}
  
  .bcnois{ width:100%; display:block; border:0; background: #FF6118; font-size:1.7rem; color:#FFFFFF; text-align:center; padding:1rem 0 1rem 0;}